/*
#
# Projet AgriBIoT - Centre de Recherche INRIA Rennes
# INRIA Startup Studio - 2020-2021
# Copyright : AgriBIoT (c) 2020-2021
# Module Name :
# Agribiot CSS
# Author : Tropée Simon (simon.tropee@gmail.com)
# Oscar Roberto Bastos (roberto@bastos-reseach.fr)
# Licence : GNU/GPL V3 see : www.gnu.org/licenses/gpl-3.0.en.html
#
*/
.prop-div-icon {
    opacity: 1;

}

.prop-div-icon-shadow {
    background-color: #ffffff;      
    border: 1px solid black;
    border-radius: 5px;
    opacity: 0.6;

}


#main {
    height: 40vh;
}
#sensor-list{
    height: 40vh;
}
#sidebarMenu{
    width:230px;
}
.object-position{

  max-width :150px; 
  word-wrap : break-word;
  overflow : hidden;
}
    
.object-position:hover{
    text-overflow:clip;
    width:auto;
    white-space: normal;
}

.content {
    margin-left: 230px;
}


 /* Style the form - display items horizontally */
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.form-inline select {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}
/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.form-inline button:hover {
  background-color: royalblue;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
} 

.myDivIcon {
  color :#d4224b;

  text-align: center;
  text-shadow: 0 0 3px #fff;
  /* Horizontally center the text (icon) */
  line-height: 40px;
  /* Vertically center the text (icon) */
}



.datetimepicker {
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  border: 4px solid darkturquoise;
  border-radius: 8px;
  &:focus-within {
    border-color: teal;
  }
  input {
    font: inherit;
    color: inherit;
    appearance: none;
    outline: none;
    border: 0;
    background-color: transparent;

    &[type=date] {
      width: 10rem;
      padding: .25rem 0 .25rem .5rem;
      border-right-width: 0;
    }

    &[type=time] {
      width: 5.5rem;
      padding: .25rem .5rem .25rem 0;
      border-left-width: 0;
    }
  }

  span {
    height: 1rem;
    margin-right: .25rem;
    margin-left: .25rem;
    border-right: 1px solid #ddd;
  }
}
.center-button {
  margin: 0 auto;
  display: block;
}

