{% block header %}
    {% include 'header.html' %}
{% endblock header %}
<div class="row">
    <div class="col-12 col-xl-12 mb-4">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-light shadow-sm">
                    <div >
                        <div class="table-responsive py-4">
{% if ctx == "Task" %}
                            <h3>Ajouter une tâche {{ object }}</h3>
                            <form action="/task_create.html"  enctype="multipart/form-data" method="post">
{% elif ctx == "Observation" %}
                            <h3>Ajouter un nouveau modèle d'observation</h3>
                            <form action="/observation_create.html" enctype="multipart/form-data" method="post">
{% endif %}
                                    {% csrf_token %}
                                    <table>
                                        {{ form.as_table }}
                                    </table>
                                    <input type="submit"/>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}
