{% block header %}
    {% include 'header.html' %}
{% endblock header %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
            <li class="breadcrumb-item"><a href="/"><span class="fas fa-home"></span></a></li>
{% if ctx == "Task" %}
            <li class="breadcrumb-item"><a href="/task_list.html">Confirmer la suppression de la tâche</a></li>
{% elif ctx == "Observation" %}
            <li class="breadcrumb-item"><a href="/observation_list.html">Confirmer la suppression de l'observation</a></li>
{% endif %}
        </ol>
    </nav>

<div class="row">
    <div class="col-12 col-xl-12 mb-4">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-light shadow-sm">
                    <div >
                        <div class="table-responsive py-4">
                            <form method="post">{% csrf_token %}
                                <p>Are you sure you want to delete "{{ object }}"?</p>
                                <input type="submit" value="Confirm">
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}


        