

{% block header %}
    {% include 'header.html' %}
{% endblock header %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
        <li class="breadcrumb-item"><a href="/"><span class="fas fa-home"></span></a></li>
{% if ctx == "Task" %}
        <li class="breadcrumb-item"><a href="/task_list.html">Tâches</a></li>
{% elif ctx == "Observation" %}
        <li class="breadcrumb-item"><a href="/observation_list.html">Observations</a></li>
{% endif %}

    </ol>
</nav>
<div class="row">
    <div class="col-12 col-xl-12 mb-4">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-light shadow-sm">
                    <div >
                        <div class="table-responsive py-4">
                            <table class="table table-flush" id="alarm-list">
                            <thead class="thead-light">
                                <tr>
                                    <th></th>
                                    <th>Description</th>
                                    <th>delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in object_list %}
                                <tr>
                                        <td>
                                    {% if task.photo %}
                                        <img src="{{ task.photo.url_100 }}">
                                    {% endif %}
                                    </td>
                                    <td>{{task.description}}</td>
{% if ctx == "Task" %}
                                    <td><a href="task_delete/{{task.id}}/"><i class="fas fa-times"></i></a></td>
{% elif ctx == "Observation" %}
                                    <td><a href="observation_delete/{{task.id}}/"><i class="fas fa-times"></i></a></td>
{% endif %}
                                </tr>
                            {% empty %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                            <div class="mb-4">
{% if ctx == "Task" %}
                                <a class="btn btn-primary" role="button" href="task_create.html">Créer une nouvelle tâche</a>
{% elif ctx == "Observation" %}
                                <a class="btn btn-primary" role="button" href="observation_create.html">Créer un nouveau modèle d'observation</a>
{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>      
        </div>
    </div>
</div>
{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}