
{% block header %}
    {% include 'header.html' %}
{% endblock header %}
<div class="py-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
            <li class="breadcrumb-item"><a href="/"><span class="fas fa-home"></span></a></li>
            <li class="breadcrumb-item"><a href="/foreignfarmuser_list.html">Remote user list</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add remote user</li>
        </ol>
    </nav>
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">Add remote user</h1>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-12 col-xl-12 mb-4">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-light shadow-sm">
                    <div >
                        <div class="table-responsive py-4">

                                <form action="/foreignfarmuser_create.html"  method="post">
                                    {% csrf_token %}
                                    {{ form.non_field_errors }}
                                    <div class="fieldWrapper">
                                        {{ form.username.errors }}
                                        <label for="{{ form.username.id_for_label }}">Username:</label><br>
                                        {{ form.username }}
                                    </div>
                                    <div class="fieldWrapper">
                                        {{ form.url_origin.errors }}
                                        <label for="{{ form.url_origin.id_for_label }}">Url origin </label> (http://192.168.1.x or http://agribiot-box-01 or http://yourdomain.com):<br>
                                        {{ form.url_origin }}
                                    </div>
                                    <div class="fieldWrapper">
                                        {{ form.first_name.errors }}
                                        <label for="{{ form.first_name.id_for_label }}">Firstname:</label><br>
                                        {{ form.first_name }}
                                    </div>
                                        <div class="fieldWrapper">
                                        {{ form.last_name.errors }}
                                        <label for="{{ form.last_name.id_for_label }}">Last name:</label><br>
                                        {{ form.last_name }}
                                    </div>
                                    <div class="fieldWrapper">
                                        {{ form.email.errors }}
                                        <label for="{{ form.email.id_for_label }}">e-mail:</label><br>
                                        {{ form.email }}
                                    </div>
                                    <input type="submit"/>
                                </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}
