{% block header %}
    {% include 'header.html' %}
{% endblock header %}
        <div class="py-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="/"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a href="/devi.html">Gateway Device list</a></li>
                </ol>
            </nav>
            <div class="d-flex justify-content-between w-100 flex-wrap">
                <div class="mb-3 mb-lg-0">
                    <h1 class="h4">Add gateway device</h1>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-12 col-xl-12 mb-4">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card border-light shadow-sm">
                            <div >
                                <div class="table-responsive py-4">

                                        <form action="/gatewayuser_create.html"  method="post">
                                            {% csrf_token %}
                                            {{ form.non_field_errors }}
                                            <div class="fieldWrapper">
                                                {{ form.username.errors }}
                                                <label for="{{ form.username.id_for_label }}">Name:</label><br>
                                                {{ form.username }}
                                            </div>
                                            <input type="submit"/>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}