{% block header %}
    {% include 'header.html' %}
{% endblock header %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
        <li class="breadcrumb-item"><a href="/"><span class="fas fa-home"></span></a></li>
        <li class="breadcrumb-item"><a href="/manage_access.html">Device list</a></li>
    </ol>
</nav>

<div class="row">
    <div class="col-12 col-xl-12 mb-4">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-light shadow-sm">
                    <div >
                        <div class="table-responsive py-4">
                            <table class="table table-flush" id="alarm-list">
                            <thead class="thead-light">
                                <tr>
                                    <th>Name</th>
                                    <th>Token</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in object_list %}
                                <tr>
                                    <td>{{user.username}}</td>
                                    <td id="token_{{user.id}}"><button onclick="request_token({{user.id}});">View token</button></td>
                                    <td><a href="gatewayuser_delete/{{user.id}}/"><i class="fas fa-times"></i></a></td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>   
                                {% endfor %}
                            </tbody>
                            </table>
                            <a class="btn btn-primary" role="button" href="gatewayuser_create.html">Create new gateway</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}

<script>

function request_token(id){
    my_fetch('api/gatewayuser_token/'+id,function(data) {
        tr_token = document.getElementById("token_"+id);
        tr_token.innerHTML = data["token"];
    })

}
</script>