
{% load leaflet_tags %}

<script> 
var objects =[
    {% for object in form.objects.field.queryset %}
        {id:{{ object.id }},position:"{{ object.position}}"},
    {% endfor %}
    ];

        
        
</script>


{% block header %}
    {% include 'header.html' %}
{% endblock header %}


<div class="py-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
            <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
            <li class="breadcrumb-item"><a href="#">Remote Access</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create remote access</li>
        </ol>
    </nav>
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">Create remote access</h1>
        </div>

    </div>
</div>
                        <!-- Form -->
<form name="remote_access_form" action="/remoteaccess_create.html" method="post">
{% csrf_token %}

{{ form.geometry }}

    <div class="row">
        <div class="col-12 mb-4">
            <div class="card border-light shadow-sm components-section">
                <div class="card-body">     
                    <div class="row mb-4">
                        <div class="col-lg-4 col-sm-6">

                            {{ form.non_field_errors }}
                            <div class="mb-4">
                                <label class="my-1 mr-2" for="{{ form.user.id_for_label }}">{{ form.user.label }}</label>
                                {{ form.user.errors }}
                                <select name="{{ form.user.html_name }}" class="form-select" id="{{ form.user.id_for_label }}" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    {% for instance in form.user.field.queryset %}
                                        <option value="{{ instance.id }}">{{ instance.username }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- Sensor -->
                            <div class="mb-4">
                                <label class="my-1 mr-2" for="{{ form.sensors.id_for_label }}">{{ form.sensors.label }}</label>
                                {{ form.sensors.errors }}
                                <select name="{{ form.sensors.html_name }}" class="form-select" id="{{ form.sensors.id_for_label }}" aria-label="Default select example" multiple>
                                    {% for sensor in form.sensors.field.queryset %}
                                        <option value="{{ sensor.id }}">{{ sensor.name }}({{ sensor.unit}})</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <!-- End of Form -->
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <!-- Radio -->
                            <fieldset>
                                <legend class="h6">Target type</legend>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="target_type" id="target_objects" value="target_objects" checked>
                                    <label class="form-check-label" for="target_objects">
                                      Objects (Select on map)
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" name="target_type" id="target_zone" value="target_zone">
                                    <label class="form-check-label" for="target_zone">
                                      Zone (Select on map)
                                    </label>
                                  </div>
                                <!-- End of Radio -->
                            </fieldset>
                            <!-- Form -->
                                {{ form.objects.errors }}
                                {{ form.geometry.errors }}
   
                        <div class="mb-4" hidden>
                            <label class="my-1 mr-2" for="{{ form.objects.id_for_label }}">{{ form.objects.label }}</label>
                            <select name="{{ form.objects.html_name }}" class="form-select" id="{{ form.objects.id_for_label }}" aria-label="Default select example" multiple>
                                {% for object in form.objects.field.queryset %}
                                    <option id="object_option{{ object.id }}"value="{{ object.id }}">{{ object.id }}</option>
                                {% endfor %}
                            </select>
                        </div>
                            <!-- End of Form -->
                        </div>
                        <div class="col-lg-4 col-sm-6">
                             <!-- Radio -->
                            <fieldset>
                                {{ form.access_type.errors }}
                                <legend class="h6">{{ form.access_type.label }}</legend>
                                {% for choice in form.access_type.field.choices %}
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="{{ form.access_type.html_name }}" id="{{ form.access_type.id_for_label }}{{choice.0}}" value="{{choice.0}}" 
                                     {% ifequal form.access_type.data choice.0 %} 
                                        checked="checked"
                                    {% endifequal %}/>
                                    <label class="form-check-label" for="{{ form.access_type.id_for_label }}{{choice.0}}">
                                        {{choice.1}}
                                    </label>
                                </div>
                                {% endfor %}
                                <!-- End of Radio -->
                            </fieldset>
                            <div class="mb-3">
                                <label for="{{ form.start_date.id_for_label }}">{{ form.start_date.label }}</label>
                                {{ form.start_date.errors }}
                                <div class="input-group">
                                    <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                                    <input data-datepicker="" name="{{ form.start_date.html_name }}" class="form-control" id="{{ form.start_date.id_for_label }}" type="text" placeholder="dd/mm/yyyy" disabled>                                               
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="{{ form.end_date.id_for_label }}">{{ form.end_date.label }} (let undefined to allow access from start date only)</label>
                                {{ form.end_date.errors }}
                                <div class="input-group">
                                    <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                                    <input data-datepicker="" name="{{ form.end_date.html_name }}" class="form-control" id="{{ form.end_date.id_for_label }}" type="text" placeholder="dd/mm/yyyy" disabled>                                               
                                </div>
                            </div>
                            <!-- End of Form -->

                             <input  class="btn btn-outline-primary" type="submit" value="Submit">
                        </div>
                       

                    </div>

                </div>
            </div>
        </div>
    </div>
</form>


{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}

<script type="text/javascript">

var map = undefined;
var markersRef = [];
var selected_objects= [];

var target_type_radio = document.remote_access_form.target_type;
var access_type_radio = document.remote_access_form.access_type;

target_type_radio[0].checked = true;
access_type_radio[0].checked = true;
var target_type_selected = target_type_radio[0];
for (var i = 0; i < target_type_radio.length; i++) {
    target_type_radio[i].addEventListener('change', function() {
        var object_block =  document.getElementById("target_object_block");
        var zone_block = document.getElementById("target_zone_block");
        if (this !== target_type_selected) {
            target_type_selected = this;
        }


        // todo add/remove leaflet editor toolbar    
        if(this.value == "target_zone"){
            var objects_select_input = document.getElementById('{{ form.objects.id_for_label }}'), object_option_input, i;

            for(i = 0; i < objects_select_input.length; i++) {
               object_option_input = objects_select_input[i];
                if (object_option_input.selected) {
                   object_option_input.selected = false;
                }
                marker = markersRef[object_option_input.value]
                if (marker._icon != null) {
                    marker._icon.classList.remove("prop-div-icon-shadow");
                    marker._icon.classList.add("prop-div-icon");
                }
             }
            
        }else if(this.value == "target_objects"){
        }
    });
}

for (var i = 0; i < access_type_radio.length; i++) {
    access_type_radio[i].addEventListener('change', function() {
          // todo add/remove leaflet editor toolbar    
        if(this.value == "2"){
            document.getElementById("{{ form.start_date.id_for_label }}").disabled = false;
            document.getElementById("{{ form.end_date.id_for_label }}").disabled = false;
        }else{
            document.getElementById("{{ form.start_date.id_for_label }}").disabled = true;
            document.getElementById("{{ form.end_date.id_for_label }}").disabled = true;       
        }
    });
}

function toWKT (layer) {
    var lng, lat, coords = [];
        if (layer instanceof L.Polygon || layer instanceof L.Polyline) {
            var latlngs = layer.getLatLngs();
        for (var i = 0; i < latlngs.length; i++) {
                var latlngs1 = latlngs[i];
                if (latlngs1.length){
                for (var j = 0; j < latlngs1.length; j++) {
                    coords.push(latlngs1[j].lng + " " + latlngs1[j].lat);
                    if (j === 0) {
                        lng = latlngs1[j].lng;
                        lat = latlngs1[j].lat;
                    }
                }}
                else
                {
                    coords.push(latlngs[i].lng + " " + latlngs[i].lat);
                    if (i === 0) {
                        lng = latlngs[i].lng;
                        lat = latlngs[i].lat;
                    }}
        };
            if (layer instanceof L.Polygon) {
                return "POLYGON((" + coords.join(",") + "," + lng + " " + lat + "))";
            } else if (layer instanceof L.Polyline) {
                return "LINESTRING(" + coords.join(",") + ")";
            }
        } else if (layer instanceof L.Marker) {
            return "POINT(" + layer.getLatLng().lng + " " + layer.getLatLng().lat + ")";
        }
};

function displayMarkerForObject() {        

    objects.forEach(function(element){
            var marker = markersRef[element.id]
            if(marker == undefined){
                point = wellknown.parse(element.position).coordinates
                const cur_icon = L.divIcon({
                    html: '<div><i class="fas fa-thermometer-half fa-2x"></i></div>',
                    iconSize: [40, 40],
                    className: 'myDivIcon'
                });

                markersRef[element.id] = L.marker(new L.LatLng(point[1],point[0]), {
                    icon:cur_icon,
                    object: element,
                }, {
                    title: element.id,
                });
                marker = markersRef[element.id]
            }

    })
    markersRef.forEach(function(marker){
        marker.options.icon.options.html= '<i class="fas fa-thermometer-half fa-2x">'

        marker.on('click', function(e) {
            var index = -1;
            var filteredObject = selected_objects.find(function(object, i){
              if(object.id=== e.target.options.object.id){
                index = i;
                return i;
              }
            });
            object_selection_option = document.getElementById("object_option"+e.target.options.object.id);

            if(index == -1){
                selected_objects.push(e.target.options.object)
                if (this._icon != null) {
                    this._icon.classList.remove("prop-div-icon");
                    this._icon.classList.add("prop-div-icon-shadow");
                }
                if(target_type_selected.value == "target_objects"){
                    object_selection_option.selected = true;
                }
            }else{
                selected_objects.splice(index,1);
                if (this._icon != null) {
                    this._icon.classList.remove("prop-div-icon-shadow");
                    this._icon.classList.add("prop-div-icon");
                }
                object_selection_option.selected = false;
            }
        });
        map.addLayer(marker);

    })
    center_map(map);
}

function removeMarker(){
    markersRef.forEach(function(marker){
        map.removeLayer(marker);
    })
}

window.addEventListener("map:init", function (event) {

    document.getElementById("id_geometry").value = "";



    map = event.detail.map ;

    map.on('map:loadfield', function (e) {
        // Customize map for field
        //console.log(e.field, e.fieldid);

    });


    map.on(L.Draw.Event.CREATED, function (e) {
        var type = e.layerType;
        layer = e.layer;
        if(target_type_selected.value == "target_objects"){
            pop_up_error("Select target type : Zone");
        }else {
            console.log(toWKT(layer))
            document.getElementById("{{ form.geometry.id_for_label }}").value = toWKT(layer);
            console.log(document.getElementById("{{ form.geometry.id_for_label }}").value)
        }
    });
   map.on(L.Draw.Event.EDITED, function (e) {
        var type = e.layerType;
        layer = e.layers[0];
        e.layers.eachLayer(function (layer) {
            if(target_type_selected.value == "target_objects"){
                pop_up_error("Select target type : Zone");
            }else {
                console.log(toWKT(layer))
                document.getElementById("{{ form.geometry.id_for_label }}").value = toWKT(layer);
                console.log(document.getElementById("{{ form.geometry.id_for_label }}").value)

            }
        });

    });
   map.on(L.Draw.Event.DELETED, function (e) {
        var type = e.layerType;
        layer = e.layer;

        if(target_type_selected.value == "target_objects"){
            pop_up_error("Select target type : Zone");
        }else {
            document.getElementById("{{ form.geometry.id_for_label }}").value = "";
        }

    });

    displayMarkerForObject();




})


</script>