{% block header %}
    {% include 'header.html' %}
{% endblock header %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
        <li class="breadcrumb-item"><a href="/"><span class="fas fa-home"></span></a></li>
        <li class="breadcrumb-item"><a href="/manage_access.html">Remote instance</a></li>
    </ol>
</nav>
<div class="row">
    <div class="col-12 col-xl-12 mb-4">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-light shadow-sm">
                    <div >
                        <div class="table-responsive py-4">
                            <table class="table table-flush" id="alarm-list">
                            <thead class="thead-light">
                                <tr>
                                    <th>Name</th>
                                    <th>token</th>
                                    <th>Url</th>
                                    <th>delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for remote_instance in object_list %}
                                <tr>
                                    <td>{{remote_instance.name}}</td>
                                    <td>{{remote_instance.token}}</td>
                                    <td>{{remote_instance.url}}</td>
                                    <td><a href="remoteinstance_delete/{{remote_instance.id}}/"><i class="fas fa-times"></i></a></td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>   
                                {% endfor %}
                            </tbody>
                            </table>
                            <div class="mb-4">
                                <a class="btn btn-primary" role="button" href="remoteinstance_create.html">Add remote instance</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}
