{% block header %}
    {% include 'header.html' %}
{% endblock header %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
        <li class="breadcrumb-item"><a href="/"><span class="fas fa-home"></span></a></li>
        <li class="breadcrumb-item"><a href="/manage_access.html">Remote access</a></li>
    </ol>
</nav>
<div class="row">
    <div class="col-12 col-xl-12 mb-4">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-light shadow-sm">
                    <div >
                        <div class="table-responsive py-4">
                            <table class="table table-flush" id="alarm-list">
                            <thead class="thead-light">
                                <tr>
                                    <th>Username</th>
                                    <th>Access type</th>
                                    <th>Target</th>
                                    <th>sensors</th>
                                    <th>Geometry/Objects</th>
                                    <th>Start date</th>
                                    <th>End date</th>
                                    <th>delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for remote_access in object_list %}
                                <tr>
                                    <td>{{remote_access.user}}</td>
                                    <td>{{remote_access.access_type}}</td>
                                    <td>{{remote_access.target_type}}</td>
                                    <td>
                                    {% for sensor in remote_access.sensors.all %}
                                    {{ sensor.name }}({{ sensor.unit }}) 
                                    {% endfor %}
                                    </td>
                                    <td class="object-position">{{remote_access.geometry}} 
                                    {% for object in remote_access.selected_objects.all %}
                                    {{ object.id }}
                                    {% endfor %}
                                    </td>
                                    <td>{{remote_access.start_date}}</td>
                                    <td>{{remote_access.end_date}}</td>
                                    <td><a href="remoteaccess_delete/{{remote_access.id}}/"><i class="fas fa-times"></i></a></td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>   
                                {% endfor %}
                            </tbody>
                            </table>
                            <div class="mb-4">

                                <a class="btn btn-primary" role="button" href="remoteaccess_create.html">Create new remote access</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}