{% block header %}
    {% include 'header.html' %}
{% endblock header %}

<div class="py-4">
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">Add remote instance</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-xl-12 mb-4">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-light shadow-sm">
                    <div >
                        <div class="table-responsive py-4">
                                <h1>Add remote instance {{ object }}</h1>
                                <form action="/remoteinstance_create.html"  method="post">
                                    {% csrf_token %}
                                    {{ form.as_table }}
                                    <input type="submit"/>
                                 </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}
