{% load static %}
{% block header %}
    {% include 'header.html' %}
{% endblock header %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
        <li class="breadcrumb-item"><a href="/"><span class="fas fa-home"></span></a></li>
        <li class="breadcrumb-item"><a href="/rfiddevuceuser_list.html">RFID device list</a></li>
    </ol>
</nav>

<div class="row">
    <div class="col-12 col-xl-12 mb-4">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-light shadow-sm">
                    <div >
                        <div class="table-responsive py-4">
                            <table class="table table-flush" id="alarm-list">
                            <thead class="thead-light">
                                <tr>
                                    <th>Name</th>
                                    <th>Token</th>
                                    <th>Token QR Code</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in object_list %}
                                <tr>
                                    <td>{{user.username}}</td>
                                    <td id="token_{{user.id}}"><button onclick="request_token({{user.id}});">View token</button></td>
                                    <td id="qrtoken_{{user.id}}"><button onclick="request_token_qr({{user.id}});" data-toggle="modal"  data-target="#modal-default">View token QR Code</button></td>

                                    <td><a href="rfiddeviceuser_delete/{{user.id}}/"><i class="fas fa-times"></i></a></td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>   
                                {% endfor %}
                            </tbody>
                            </table>
                            <a class="btn btn-primary" role="button" href="rfiddeviceuser_create.html">Create new RFID device</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title">QR Code</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="qrcode-placeholder">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary">I Got It</button>
                <button type="button" class="btn btn-link text-danger ml-auto" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}

<script>



function request_token_qr(id){
    my_fetch('api/rfiddeviceuser_token/'+id,function(data) {
        console.log(document.location.origin+";"+data["token"])
        console.log(data["token"]);
        document.getElementById("qrcode-placeholder").innerHTML = "";
        var qrcode = new QRCode(document.getElementById("qrcode-placeholder"), {
            text: document.location.origin+";"+data["token"],
            width: 128,
            height: 128,
            colorDark : "#000000",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.H
        });
    })
}
function request_token(id){
    my_fetch('api/rfiddeviceuser_token/'+id,function(data) {
        tr_token = document.getElementById("token_"+id);
        tr_token.innerHTML = data["token"];
    })

}

</script>

<!-- qr code -->
<script src="{% static 'js/qrcode.min.js' %}"></script>


