<!--

=========================================================
* Volt - Bootstrap 5 Admin Dashboard
=========================================================

* Product Page: https://themesberg.com/product/admin-dashboard/volt-bootstrap-5-dashboard
* Copyright 2020 Themesberg (https://www.themesberg.com)

* Designed and coded by https://themesberg.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. Please contact us to request a removal.

-->

<!DOCTYPE html>
<html lang="en">
{% load static %}

<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->
<title>AgriBIoT</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'volt/assets/img/favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'volt/assets/img/favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'volt/assets/img/favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'volt/assets/img/favicon/site.webmanifest' %}">
<link rel="mask-icon" href="{% static 'volt/assets/img/favicon/safari-pinned-tab.svg' %}" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Fontawesome -->
<link type="text/css" href="{% static 'volt/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">

<!-- Notyf -->
<link type="text/css" href="{% static 'volt/vendor/notyf/notyf.min.css' %}" rel="stylesheet">

<!-- Volt CSS -->
<link type="text/css" href="{% static 'volt/css/volt.css' %}" rel="stylesheet">

<link type="text/css" href="{% static 'css/custom.css' %}" rel="stylesheet">



<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chartist@0.11.4/dist/chartist.min.css">
<script src="https://cdn.jsdelivr.net/npm/chartist@0.11.4/dist/chartist.min.js"></script>
<script src="{% static 'js/wellknown.js' %}"></script>
</head>

<body>

  {% block header %}
    {% include 'header.html' %}
  {% endblock header %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="/"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a href="/manage_access.html">Confirm RFID device delete</a></li>
                </ol>
            </nav>

            <div class="row">
                <div class="col-12 col-xl-12 mb-4">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <div class="card border-light shadow-sm">
                                <div >
                                    <div class="table-responsive py-4">
                                        <form method="post">{% csrf_token %}
                                            <p>Are you sure you want to delete "{{ object }}"?</p>
                                            <input type="submit" value="Confirm">
                                        </form>

                                    </div>

                                </div>
                            </div>
                        </div>

                       
                    </div>
                </div>

                
                
            </div>

  {% block footer %}
    {% include 'footer.html' %}
  {% endblock footer %}
