<!--

=========================================================
* Volt Pro - Premium Bootstrap 5 Dashboard
=========================================================

* Product Page: https://themesberg.com/product/admin-dashboard/volt-premium-bootstrap-5-dashboard
* Copyright 2020 Themesberg (https://www.themesberg.com)
* License (https://themes.getbootstrap.com/licenses/)

* Designed and coded by https://themesberg.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. Please contact us to request a removal.

-->
{% load leaflet_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->
<title>AgriBIoT</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'volt/assets/img/favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'volt/assets/img/favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'volt/assets/img/favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'volt/assets/img/favicon/site.webmanifest' %}">
<link rel="mask-icon" href="{% static 'volt/assets/img/favicon/safari-pinned-tab.svg' %}" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Fontawesome -->
<link type="text/css" href="{% static 'volt/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">

<!-- Notyf -->
<link type="text/css" href="{% static 'volt/vendor/notyf/notyf.min.css' %}" rel="stylesheet">

<!-- Volt CSS -->
<link type="text/css" href="{% static 'volt/css/volt.css' %}" rel="stylesheet">

<link type="text/css" href="{% static 'css/custom.css' %}" rel="stylesheet">

<!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->

</head>

<body>
    <main>
{% block content %}

        <!-- Section -->
        <section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
            <div class="container">
                <div class="row justify-content-center form-bg-image" data-background-lg="../../assets/img/illustrations/signin.svg">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">Sign in to our platform</h1>
                            </div>
                            <form method="post" action="{% url 'login' %}" class="mt-4">
                                {% csrf_token %}
                                
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    {{ form.username.label_tag }}
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1"><span class="fas fa-envelope"></span></span>

                                        {{ form.username }}
                                    </div>
                                    <!--
                                    <label for="email">Your Email</label>
                                        <input type="email" class="form-control" placeholder="example@company.com" id="email" autofocus required>
                                    </div>  

                                -->
                                </div>
                                <!-- End of Form -->
                                <div class="form-group">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        {{ form.password.label_tag }}
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2"><span class="fas fa-unlock-alt"></span></span>
                                            {{ form.password }}
                                        </div>
                                        <!--
                                        <label for="password">Your Password</label>

                                            <input type="password" placeholder="Password" class="form-control" id="password" required>
                                        </div>  
                                    -->
                                    </div>
                                    <!-- End of Form -->
                                    <div class="d-flex justify-content-between align-items-top mb-4">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="remember">

                                            <label class="form-check-label mb-0" for="remember">
                                              Remember me
                                            </label>
                                        </div>
                                        <div><a href="{% url 'password_reset' %}" class="small text-right">Lost password?</a></div>
                                    </div>
                                </div>
                                <!--<button type="submit" class="btn btn-block btn-primary">Sign in</button>-->
                                <input type="submit" value="login" class="btn btn-block btn-primary">
                                <input type="hidden" name="next" value="{{ next }}">

                                {% if form.errors %}
                                    <p><br>Your username and password didn't match. Please try again.</p>
                                {% endif %}
                                {% if next %}
                                {% if user.is_authenticated %}
                                    <p><br>Your account doesn't have access to this page. To proceed,
                                    please login with an account that has access.</p>
                                {% else %}
                                    <p><br>Please login to see this page.</p>
                                    {% endif %}
                                {% endif %}
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
    </main>

    <!-- Core -->
<script src="{% static 'volt/vendor/popper.js' %}/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'volt/vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>

<!-- Vendor JS -->
<script src="{% static 'volt/vendor/onscreen/dist/on-screen.umd.min.js' %}"></script>

<!-- Slider -->
<script src="{% static 'volt/vendor/nouislider/distribute/nouislider.min.js' %}"></script>

<!-- Jarallax -->
<script src="{% static 'volt/vendor/jarallax/dist/jarallax.min.js' %}"></script>

<!-- Smooth scroll -->
<script src="{% static 'volt/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>

<!-- Count up -->
<script src="{% static 'volt/vendor/countup.js' %}/dist/countUp.umd.js' %}"></script>

<!-- Notyf -->
<script src="{% static 'volt/vendor/notyf/notyf.min.js' %}"></script>

<!-- Charts -->
<script src="{% static 'volt/vendor/chartist/dist/chartist.min.js' %}"></script>
<script src="{% static 'volt/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>

<!-- Datepicker -->
<script src="{% static 'volt/vendor/vanillajs-datepicker/dist/js/datepicker.min.js' %}"></script>

<!-- Simplebar -->
<script src="{% static 'volt/vendor/simplebar/dist/simplebar.min.js' %}"></script>

<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js' %}"></script>

<!-- Volt JS -->
<script src="{% static 'volt/assets/js/volt.js' %}"></script>
<script src="{% static 'jquery/jquery-3.6.0.min.js' %}"></script>

    
</body>

</html>
