{% load leaflet_tags %}

{% block header %}
    {% include 'header.html' %}
{% endblock header %}
<div class="row justify-content-md-center">
    <div class="col-12 mb-4">
        {% leaflet_map "main" %}
    </div>
</div>

<div class="row">
    <div class="col-12 col-xl-12 mb-4">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                            <h2 class="h5">Rised alarm</h2>
                            </div>

                        </div>
                    </div>
                    <div >
                        <div class="table-responsive py-4">
                            <table class="table table-flush" id="rised-alarm-list">
                            <thead class="thead-light">
                                <tr>
                                <th>Delete</th>
                                <th>Created</th>
                                <th>Alarm</th>
                                <th>Value</th>
                                <th>UUID</th>
                                <th>Description</th>

                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}
<script>
agInstance = new AgribiotInstance("local","local",undefined,undefined);

var markersRef = [];
var sensor_object_cached = undefined;



function delete_rised_alarm(id){
    agInstance.deleteRisedAlarm(id,function(){
        fill_rised_alarm_list_table();
    })
}

function fill_rised_alarm_list_table(){
    rised_alarm_table= document.getElementById("rised-alarm-list").getElementsByTagName('tbody')[0];
    
    agInstance.getRisedAlarms(function(data) {
        while (rised_alarm_table.rows.length > 0) {
            rised_alarm_table.deleteRow(-1);
        }
        data.forEach(function(rised_alarm){
            var index = 0;
            var sensor_object = sensor_object_cached.find(s => s.id === rised_alarm.value_id.sensor_object_id)

            // Insert a row at the end of the table
            let newRow = rised_alarm_table.insertRow(-1);
            newRow.addEventListener("mouseover", function(e) {
                //markersRef[this.getAttribute('marker')].fire('mouseover'); // --> Trigger Marker Event "mouseover"
                var marker = markersRef[sensor_object.object_id.id];
                _fireEventOnMarkerOrVisibleParentCluster(marker, 'mouseover');
                // TODO : Trigger ClusteredMarker Event "mouseover"
            });
            // ** Event : Mouse Over **
            newRow.addEventListener("mouseout", function(e) {
                //markersRef[this.getAttribute('marker')].fire('mouseout'); // --> Trigger Marker Event "mouseout"
                var marker = markersRef[sensor_object.object_id.id];
                _fireEventOnMarkerOrVisibleParentCluster(marker, 'mouseout');
                // TODO : Trigger ClusteredMarker Event "mouseout"
            });
            // Delete created  Alarm name   value  sensor_object
            var td_delete = document.createElement("td"); 
            td_delete.innerHTML = "<a onclick=\"delete_rised_alarm("+rised_alarm.id+")\"><i class=\"fas fa-times\"></i></a>"
            newRow.appendChild(td_delete);

            var td_created = document.createElement("td");
            var created = new Date(rised_alarm.created).toLocaleString('fr-fr')

            td_created.innerHTML = created;
            newRow.appendChild(td_created);

            var td_alarm = document.createElement("td"); 
            td_alarm.innerHTML = rised_alarm.alarm_trigger_id.name;
            newRow.appendChild(td_alarm);

            var td_value = document.createElement("td"); 
            td_value.innerHTML = rised_alarm.value_id.value;
            newRow.appendChild(td_value);

            var td_sensor_object_uuid = document.createElement("td"); 
            td_sensor_object_uuid.innerHTML = sensor_object.object_id.uuid;
            newRow.appendChild(td_sensor_object_uuid);

            var td_sensor_object_description = document.createElement("td"); 
            td_sensor_object_description.innerHTML = sensor_object.object_id.description;
            newRow.appendChild(td_sensor_object_description);
  
            index++;
        })//iterate over each rised alarm
        
    })// rised alarms
    
    

}



function _fireEventOnMarkerOrVisibleParentCluster(marker, eventName) {

    marker.fire(eventName);
}
window.addEventListener("map:init", function (event) {

    var map = event.detail.map.setView([ 44.5337272 ,-0.3312454], 15);


    // Fetch sensor object 
    agInstance.getSensorObjects(function(sensor_objects) {
        sensor_object_cached = sensor_objects;
        sensor_objects.forEach(function(element){
            var marker = markersRef[element.object_id.id]
            if(marker == undefined){
                point = wellknown.parse(element.object_id.position).coordinates
                const cur_icon = L.divIcon({
                    html: '<div><i class="fas fa-thermometer-half fa-2x"></i></div>',
                    iconSize: [40, 40],
                    className: 'myDivIcon'
                });

                markersRef[element.object_id.id] = L.marker(new L.LatLng(point[1],point[0]), {
                    icon:cur_icon,
                    type:"probe",
                    name: element.object_id.id,
                    sensor:[],
                }, {
                    title: element.object_id.id,
                });
                marker = markersRef[element.object_id.id]
            }

            marker.options.sensor.push(element.sensor_id.name);


                
        })
        markersRef.forEach(function(marker){
            //TODO dynamically compose SVG image...

            if(marker.options.sensor.length ==2){
                marker.options.icon.options.html= '<i class="fas fa-thermometer-half fa-2x">'

            }else if(marker.options.sensor.length ==1){
                marker.options.icon.options.html= '<div><i class="fas fa-tag fa-2x"></i></div>'
            }
            marker.on('mouseover', function(e) {
                if (this._icon != null) {
                    this._icon.classList.remove("prop-div-icon");
                    this._icon.classList.add("prop-div-icon-shadow");
                }
            });
            marker.on('mouseout', function(e) {
                if (this._icon != null) {
                    this._icon.classList.remove("prop-div-icon-shadow");
                    this._icon.classList.add("prop-div-icon");
                }

            });

            map.addLayer(marker);
        })
        fill_rised_alarm_list_table();
        center_map(map);
    });
    
});
    

</script>
