  {% load leaflet_tags %}
  {% block header %}
    {% include 'header.html' %}
  {% endblock header %}
    <div class="row justify-content-md-center">
        <div class="col-12 mb-4">
            {% leaflet_map "main" %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-4">
            <div class="card border-light shadow-sm components-section">
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-lg-4 col-sm-6">
                            <div class="row align-items-center">
                                <div class="col">
                                <h2 class="h5">Add alarm</h2>
                                Alarm will rise if each of the following condition is true
                                </div>

                            </div>
                        </div>
                        <div>
                            <form id="alarm-forms"  action="javascript:create_alarm()">
                                <label for="alarm-name">Alarm name :</label>
                                <input required name="alarm-name" id="alarm-name">
                                <button id="alarm-submit" type="submit" class="btn btn-primary" >Create alarm</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-12 mb-4">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-light shadow-sm">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                <h2 class="h5">Alarm List</h2>
                                </div>

                            </div>
                        </div>
                        <div >
                            <div class="table-responsive py-4">
                                <table class="table table-flush" id="alarm-list">
                                <thead class="thead-light">
                                    <tr>
                                    <th>Delete</th>
                                    <th>Alarm name</th>
                                    <th>Sensor</th>
                                    <th>Trigger type</th>
                                    <th>Trigger value</th>
                                    <th>Object</th>
                                    <th>Zone</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  {% block footer %}
    {% include 'footer.html' %}
  {% endblock footer %}

<script>

var markersRef = [];
var layers = [];
var map = undefined;
var drawnItems = undefined;
var drawControl = undefined;
var polygonDraw = undefined;
var index_element = 0;
var last_hover_zone = 0;
append_to_alarm_form(index_element);
fill_alarm_list_table();
//document.getElementById("triggerTarget").selectedIndex = 0

const csrftoken = getCookie('csrftoken');

function delete_alarm(id){
    var alarm_trigger_request = new XMLHttpRequest();
    alarm_trigger_request.open("DELETE", 'api/alarm_trigger/'+id, true);
    alarm_trigger_request.setRequestHeader('Content-Type', 'application/json');
    alarm_trigger_request.onreadystatechange = function() {
        if (alarm_trigger_request.readyState == XMLHttpRequest.DONE) {
            fill_alarm_list_table();
        }
    }
    alarm_trigger_request.send();
}

function update_last_hover_zone(index) {
    last_hover_zone = index;
}

function create_alarm(){
    var alarm_name = document.getElementById("alarm-name").value
    var alarm_trigger_id = undefined;
    var alarm_trigger_request = new XMLHttpRequest();
    var error_pending = false;
    alarm_trigger_request.open("POST", 'api/alarm_trigger/', true);
    alarm_trigger_request.setRequestHeader('Content-Type', 'application/json');
    alarm_trigger_request.setRequestHeader('X-CSRFToken',csrftoken);
    alarm_trigger_request.onreadystatechange = function() {
        if (alarm_trigger_request.readyState == XMLHttpRequest.DONE) {
            try{
                if(JSON.parse(alarm_trigger_request.responseText).id == undefined){
                    pop_up_error(alarm_trigger_request.responseText);
                }else {
                    alarm_trigger_id = JSON.parse(alarm_trigger_request.responseText).id;
                    var i = 0;
                    for(i = 0; i< index_element && error_pending == false;i++){
                        var alarm_element ={};
                        
                        var sensor_id = document.getElementById("triggerSensor"+i).value;
                        var trigger_type = document.getElementById("triggerTypeSelect"+i).value
                        var trigger_value = document.getElementById("triggerValueInput"+i).value
                        var trigger_target = document.getElementById("triggerTargetSelect"+i).value
                        
                        if(sensor_id  != undefined && trigger_type != undefined && trigger_value != undefined){
                        
                            alarm_element.alarm_trigger_id = alarm_trigger_id;
                            alarm_element.sensor_id = sensor_id;
                            alarm_element.trigger_type = trigger_type;
                            alarm_element.trigger_value = trigger_value;
                            
                            var triggerZoneInput = document.getElementById("triggerZoneInput"+i);
                            if((trigger_target == "Object" && triggerZoneInput.value == "select on map") || (trigger_target == "zone" && triggerZoneInput.value == "select on map")){
                                pop_up_error("Select on map a zone or an object");
                                error_pending = true;
                            }
                            if(error_pending != true){
                                if(trigger_target == "Object"){
                                    alarm_element.object_id = triggerZoneInput.value;
                                }else if (trigger_target == "Zone"){
                                    alarm_element.geometry = triggerZoneInput.value;
                                }                    
                                var alarm_element_request = new XMLHttpRequest();
                                alarm_element_request.open("POST", 'api/alarm_element/', true);
                                alarm_element_request.setRequestHeader('Content-Type', 'application/json');
                                alarm_element_request.setRequestHeader('X-CSRFToken',csrftoken);
                                alarm_element_request.onreadystatechange = function() {
                                
                                    if (alarm_element_request.readyState == XMLHttpRequest.DONE) {
                                        if(JSON.parse(alarm_element_request.responseText).id == undefined){
                                            pop_up_error(alarm_element_request.responseText);
                                            error_pending = true;
                                        }

                                        if(i == index_element){

                                            fill_alarm_list_table(); 
                                        }
                                    }
                                }
                                alarm_element_request.send(JSON.stringify(alarm_element));
                            }

                        }

                    }
                    if(error_pending){
                        delete_alarm(alarm_trigger_id);
                    }
                }
            }catch (e) {
                pop_up_error(e);
            }
        }
    }
    if(alarm_name != undefined){
        var alarm_trigger = {};
        alarm_trigger.name = alarm_name;
        alarm_trigger.alarmelement_set = [];
        alarm_trigger_request.send(JSON.stringify(alarm_trigger));
    
    }
}

function append_to_alarm_form(index){
    var formBlock = document.getElementById("alarm-forms")
    var alarmSubmit = document.getElementById("alarm-submit")
    var form =  document.createElement('div');

    var triggerSensorLabel =  document.createElement('label');
    var triggerSensorSelect = document.createElement('select');

    var triggerTypeLabel =  document.createElement('label');
    var triggerTypeSelect = document.createElement('select');
    
    var triggerValueLabel =  document.createElement('label');
    var triggerValueInput = document.createElement('input');
    
    var triggerTargetLabel =  document.createElement('label');
    var triggerTargetSelect = document.createElement('select');
    
    var triggerZoneLabel =  document.createElement('label');
    var triggerInputZone = document.createElement('input');
    
    var triggerIdHidden = document.createElement('input');

    var triggerAddLineButton = document.createElement('button');
    
    form.setAttribute("name","create-alarm"+index_element);
    form.setAttribute("id","create-alarm"+index_element);
    form.setAttribute("class","form-inline");
    //form.action= "javascript:append_to_alarm_form("+index_element+")";
    formBlock.insertBefore(form,alarmSubmit);

    triggerSensorLabel.setAttribute("for","triggerSensor"+index_element);
    triggerSensorLabel.innerHTML = "Sensor : "
    triggerSensorSelect.setAttribute("id","triggerSensor"+index_element);
    form.appendChild(triggerSensorLabel);
    form.appendChild(triggerSensorSelect);
    
    
    triggerTypeLabel.setAttribute("for","triggerTypeSelect"+index_element);
    triggerTypeLabel.innerHTML = "Type : "
    triggerTypeSelect.setAttribute("id","triggerTypeSelect"+index_element);
    cur_option = document.createElement('option');
    cur_option.innerHTML =">"
    cur_option.value =">"
    triggerTypeSelect.appendChild(cur_option)
    cur_option = document.createElement('option');
    cur_option.innerHTML =">="
    cur_option.value =">="
    triggerTypeSelect.appendChild(cur_option)
    cur_option = document.createElement('option');
    cur_option.innerHTML ="<="
    cur_option.value ="<="
    triggerTypeSelect.appendChild(cur_option)
    cur_option = document.createElement('option');
    cur_option.innerHTML ="<"
    cur_option.value ="<"
    triggerTypeSelect.appendChild(cur_option)
    cur_option = document.createElement('option');
    cur_option.innerHTML ="="
    cur_option.value ="="
    triggerTypeSelect.appendChild(cur_option)
    form.appendChild(triggerTypeLabel);
    form.appendChild(triggerTypeSelect);
    
    
    
    
    triggerValueLabel.setAttribute("for","triggerValueInput"+index_element);
    triggerValueLabel.innerHTML = "Trigger value :" 
    triggerValueInput.setAttribute("type","number")
    triggerValueInput.setAttribute("step","0.01")
    triggerValueInput.setAttribute("id","triggerValueInput"+index_element)
    triggerValueInput.required = true;
    form.appendChild(triggerValueLabel);
    form.appendChild(triggerValueInput);
    
    
    triggerTargetLabel.setAttribute("for","triggerValueInput"+index_element);
    triggerTargetLabel.innerHTML = "Target :" 
    triggerTargetSelect.setAttribute("id","triggerTargetSelect"+index_element);
    triggerTargetSelect.setAttribute("onchange","onTargetChange("+index_element+")");
    cur_option = document.createElement('option');
    cur_option.innerHTML ="Choose here (optional)";
    cur_option.value = undefined;

    triggerTargetSelect.appendChild(cur_option)
    cur_option = document.createElement('option');
    cur_option.innerHTML ="Object";
    cur_option.value = "Object";
    triggerTargetSelect.appendChild(cur_option)
    cur_option = document.createElement('option');
    cur_option.innerHTML ="Zone";
    cur_option.value = "Zone";
    triggerTargetSelect.appendChild(cur_option)
    
    form.appendChild(triggerTargetLabel);
    form.appendChild(triggerTargetSelect);
    
    triggerZoneLabel.setAttribute("id","triggerZoneLabel"+index_element);
    triggerZoneLabel.setAttribute("for","triggerZoneInput"+index_element);
    triggerZoneLabel.hidden = true;
    triggerZoneLabel.innerHTML = "Zone (None) :"
    triggerInputZone.setAttribute("id","triggerZoneInput"+index_element); 
    triggerInputZone.setAttribute("type","text"); 
    triggerInputZone.value = "Choose on map"
    triggerInputZone.hidden = true ;
    triggerInputZone.readOnly = true ;
    triggerInputZone.setAttribute("onclick","update_last_hover_zone("+index_element+")");

    form.appendChild(triggerZoneLabel);
    form.appendChild(triggerInputZone);


    triggerAddLineButton.setAttribute("id","add-line"+index_element)
    triggerAddLineButton.setAttribute("class","btn btn-primary")
    triggerAddLineButton.innerHTML = "+"
    triggerAddLineButton.setAttribute("onclick","append_to_alarm_form("+index_element+")");

    form.appendChild(triggerAddLineButton);
    fillSensor(index_element);
    index_element ++;
    /*


<label id="labelZone" for="inputZone" hidden>Zone (None) :</label>
<input id="inputZone" type="text" readonly value="Choose on map" hidden>
<button id="add-line" type="submit" class="btn btn-primary">+</button>
*/

}
function onTargetChange(index){
    var selected = document.getElementById("triggerTargetSelect"+index).value;
    var form = document.getElementById("create-alarm")
    
    polygonDraw.disable();
    map.removeLayer(drawnItems);
    map.removeControl(drawControl);
    update_last_hover_zone(index);

    if(layers[index] != undefined){
        map.removeLayer(layers[index]);
    }
    layers[index] = undefined;
    if(selected == "Object"){

        label = document.getElementById("triggerZoneLabel"+index) ;
        label.innerHTML = "Zone (Object) :"
        input  = document.getElementById("triggerZoneInput"+index);
        input.value = "select on map";
        label.hidden = false;
        input.hidden = false;
    }else if(selected == "Zone"){

        label = document.getElementById("triggerZoneLabel"+index) ;
        label.innerHTML = "Zone (Geometry) :"
        input  = document.getElementById("triggerZoneInput"+index) ;
        input.value = "select on map";
        if(map != undefined){
            map.addLayer(drawnItems);
            map.addControl(drawControl);
            polygonDraw.enable();
        }
        label.hidden = false;
        input.hidden = false;
    }


}


/*
Fetching sensor
*/
function fillSensor(index){
    fetch('api/sensor/').then(function(resp) { return resp.json(); }).then(function(sensors) {
        if(sensors.detail != undefined){
            pop_up_error(sensors.detail);
            return;
        }
        sensors.forEach(function(sensor){
            var sel = document.getElementById('triggerSensor'+index);
            var opt = document.createElement('option');
            opt.appendChild( document.createTextNode('New Option Text') );
            opt.value = sensor.id; 
            opt.innerHTML = sensor.name +"("+sensor.unit+")";
            sel.appendChild(opt); 
        });
    })
}

function fill_object_field_with_map(object_id) {
    if(document.getElementById("triggerTargetSelect"+last_hover_zone).value == "Object"){
        var triggerZoneInput = document.getElementById("triggerZoneInput"+last_hover_zone); 
        triggerZoneInput.value = object_id;
    }
    
}




var my_tmp_layer = undefined;

function toWKT (layer) {
    var lng, lat, coords = [];
		if (layer instanceof L.Polygon || layer instanceof L.Polyline) {
			var latlngs = layer.getLatLngs();
		for (var i = 0; i < latlngs.length; i++) {
				var latlngs1 = latlngs[i];
				if (latlngs1.length){
				for (var j = 0; j < latlngs1.length; j++) {
					coords.push(latlngs1[j].lng + " " + latlngs1[j].lat);
					if (j === 0) {
						lng = latlngs1[j].lng;
						lat = latlngs1[j].lat;
					}
				}}
				else
				{
					coords.push(latlngs[i].lng + " " + latlngs[i].lat);
					if (i === 0) {
						lng = latlngs[i].lng;
						lat = latlngs[i].lat;
					}}
		};
			if (layer instanceof L.Polygon) {
				return "POLYGON((" + coords.join(",") + "," + lng + " " + lat + "))";
			} else if (layer instanceof L.Polyline) {
				return "LINESTRING(" + coords.join(",") + ")";
			}
		} else if (layer instanceof L.Marker) {
			return "POINT(" + layer.getLatLng().lng + " " + layer.getLatLng().lat + ")";
		}
};
	
function _fireEventOnMarkerOrVisibleParentCluster(marker, eventName) {

    marker.fire(eventName);
}


window.addEventListener("map:init", function (event) {

    map = event.detail.map;

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox/streets-v11',		tileSize: 512,
        zoomOffset: -1
    }).addTo(map);



    drawnItems = new L.FeatureGroup();
    drawControl = new L.Control.Draw({
        draw: {
            polygon: true,
            polyline: false,
            circle: false,
            rectangle: false,
            marker: false
        },
        edit: {
            featureGroup: drawnItems,
            edit: true,
            remove : true
        }
    });
    polygonDraw = new L.Draw.Polygon(map, drawControl.options.polygon);

     
    map.on(L.Draw.Event.CREATED, function (e) {
        var type = e.layerType;
        layer = e.layer;
        if (type === 'polygon') {
            // Do marker specific actions 
            var triggerZoneInput = document.getElementById('triggerZoneInput'+last_hover_zone);
            triggerZoneInput.value = toWKT(layer);
        }
        // Do whatever else you need to. (save to db; add to map etc)
        map.addLayer(layer);
        layers[last_hover_zone] = layer;
    });




    // Fetch sensor object 
    fetch('api/sensor_object/')
    .then(function(resp) {
    return resp.json();
    })
    .then(function(data) {
        if(data.detail != undefined){
            pop_up_error(data.detail);
            return;
        }
        data.forEach(function(element){
            var marker = markersRef[element.object_id.id]
            if(marker == undefined){
                point = wellknown.parse(element.object_id.position).coordinates
                const cur_icon = L.divIcon({
                    html: '<div><i class="fas fa-thermometer-half fa-2x"></i></div>',
                    iconSize: [40, 40],
                    className: 'myDivIcon'
                });


                markersRef[element.object_id.id] = L.marker(new L.LatLng(point[1],point[0]), {
                    icon:cur_icon,
                    type:"probe",
                    name: element.object_id.id,
                    sensor:[],
                }, {
                    title: element.object_id.id,
                });
                marker = markersRef[element.object_id.id]
            }

            marker.options.sensor.push(element.sensor_id.name);


                
        })
        markersRef.forEach(function(marker){
            //TODO dynamically compose SVG image...
            if(marker.options.sensor.length ==2){
                marker.options.icon.options.html= '<i class="fas fa-thermometer-half fa-2x">'

            }else if(marker.options.sensor.length ==1){
                marker.options.icon.options.html= '<div><i class="fas fa-tag fa-2x"></i></div>'
            }
            marker.on('mouseover', function(e) {
                if (this._icon != null) {
                    this._icon.classList.remove("prop-div-icon");
                    this._icon.classList.add("prop-div-icon-shadow");
                }
            });
            marker.on('mouseout', function(e) {
                if (this._icon != null) {
                    this._icon.classList.remove("prop-div-icon-shadow");
                    this._icon.classList.add("prop-div-icon");
                }

            });
            marker.on('click', function(e) {
                fill_object_field_with_map(marker.options.name);
            });
            map.addLayer(marker);
        })
        center_map(map);
    });
    
});

function fill_alarm_list_table(){
    alarm_list_table= document.getElementById("alarm-list").getElementsByTagName('tbody')[0];
    
    var uri = "api/alarm_trigger/"
    fetch(uri).then(function(resp) {
    return resp.json();
    })
    .then(function(data) {
        if(data.detail != undefined){
            pop_up_error(data.detail);
            return;
        }
        while (alarm_list_table.rows.length > 0) {
        	alarm_list_table.deleteRow(-1);
        }
        data.forEach(function(alarm_trigger){
            var index = 0;
            
            alarm_trigger.alarmelement_set.forEach(function(alarm_element){
                // Insert a row at the end of the table
                let newRow = alarm_list_table.insertRow(-1);

                // Delete Alarm name   Sensor  Trigger type    Trigger value   Object  Zone
                var td_delete = document.createElement("td"); 
                var td_name = document.createElement("td"); 
                if(index == 0){
                	td_name.innerHTML = alarm_trigger.name;
                    td_delete.innerHTML = "<a onclick=\"delete_alarm("+alarm_trigger.id+")\"><i class=\"fas fa-times\"></i></a>"
                }
                newRow.appendChild(td_delete);
                newRow.appendChild(td_name);

                var td_sensor = document.createElement("td"); 
                td_sensor.innerHTML = alarm_element.sensor_id.name +"("+alarm_element.sensor_id.unit+")";
                newRow.appendChild(td_sensor);

                var td_trigger_type = document.createElement("td"); 
                td_trigger_type.innerHTML = alarm_element.trigger_type;
                newRow.appendChild(td_trigger_type);

                var td_trigger_value = document.createElement("td"); 
                td_trigger_value.innerHTML = alarm_element.trigger_value;
                newRow.appendChild(td_trigger_value);

                var td_trigger_object = document.createElement("td"); 
                if(alarm_element.object_id != undefined){
                    td_trigger_object.innerHTML = alarm_element.object_id.id;
                }
                newRow.appendChild(td_trigger_object);

                var td_trigger_zone = document.createElement("td"); 
                if(alarm_element.geometry != undefined){
                    td_trigger_zone.innerHTML = alarm_element.geometry;
                }
                newRow.appendChild(td_trigger_zone);
                index++;
            })//Iterate over sensor_object
        })//iterate over fetch result object_list
        
    })// object fetch
    
    

}
        
        
</script>
