{% load static %}

</main>
    <!-- Core -->
<script src="{% static 'volt/vendor/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'volt/vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>

<!-- Vendor JS -->
<script src="{% static 'volt/vendor/onscreen/dist/on-screen.umd.min.js' %}"></script>

<!-- Slider -->
<script src="{% static 'volt/vendor/nouislider/distribute/nouislider.min.js' %}"></script>

<!-- Jarallax -->
<script src="{% static 'volt/vendor/jarallax/dist/jarallax.min.js' %}"></script>

<!-- Smooth scroll -->
<script src="{% static 'volt/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>

<!-- Count up -->
<script src="{% static 'volt/vendor/countup.js/dist/countUp.umd.js' %}"></script>

<!-- Notyf -->
<script src="{% static 'volt/vendor/notyf/notyf.min.js' %}"></script>

<!-- Charts -->
<script src="{% static 'volt/vendor/chartist/dist/chartist.min.js' %}"></script>
<script src="{% static 'volt/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>

<!-- Datepicker -->
<script src="{% static 'volt/vendor/vanillajs-datepicker/dist/js/datepicker.min.js' %}"></script>

<!-- Simplebar -->
<script src="{% static 'volt/vendor/simplebar/dist/simplebar.min.js' %}"></script>

<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Volt JS -->
<script src="{% static 'volt/assets/js/volt.js' %}"></script>
<script src="{% static 'jquery/jquery-3.6.0.min.js' %}"></script>

{% if page == "operations_list" %}
    <script src="{% static 'jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <script src="{% static 'DataTables/datatables.min.js' %}"></script>
    <script src="{% static 'js/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'js/date-euro.js' %}"></script>
<script>
moment.locale('fr')
</script>
{% elif page == "index" %}

{% endif %}
</body>

</html>
<!--<footer class="footer section py-5">
    <div class="row">
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
            <p class="mb-0 text-center text-xl-left">Copyright © 2019-<span class="current-year"></span> <a class="text-primary font-weight-normal" href="https://themesberg.com" target="_blank">Themesberg</a></p>
        </div>

        <div class="col-12 col-lg-6">
            <ul class="list-inline list-group-flush list-group-borderless text-center text-xl-right mb-0">
                <li class="list-inline-item px-0 px-sm-2">
                    <a href="https://themesberg.com/about">About</a>
                </li>
                <li class="list-inline-item px-0 px-sm-2">
                    <a href="https://themesberg.com/themes">Themes</a>
                </li>
                <li class="list-inline-item px-0 px-sm-2">
                    <a href="https://themesberg.com/blog">Blog</a>
                </li>
                <li class="list-inline-item px-0 px-sm-2">
                    <a href="https://themesberg.com/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</footer>-->

<script>
var sidebar_hidden = 0
var notyf = undefined;
function closeNav() {
    if(sidebar_hidden ==0){
        document.getElementById("sidebarMenu").style.width = "0px";
        document.getElementsByClassName("content")[0].style.marginLeft= "0px";
        sidebar_hidden = 1;
        document.getElementById("navbarAction").innerHTML = "Show sidebar";
    }else if (sidebar_hidden ==1){
        document.getElementById("sidebarMenu").style.width = "230px";
        document.getElementsByClassName("content")[0].style.marginLeft = "230px";
        sidebar_hidden= 0;
        document.getElementById("navbarAction").innerHTML = "Hide sidebar";
    }
}
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function pop_up_error(error_msg){
    if(notyf == undefined){
        notyf = new Notyf({
        position: {
            x: 'right',
            y: 'top',
        },
        dismissible: true,
        duration:10000,
        types: [
            {

            }
        ]
        });
    }
    notyf.error(error_msg);
}


function center_map(map){
    arrayOfLatLngs =[]
    map.eachLayer(function(layer){
        if(layer._latlng != undefined){
            arrayOfLatLngs.push([layer._latlng.lat,layer._latlng.lng]);
        }
    });
    bounds = new L.LatLngBounds(arrayOfLatLngs);
    map.fitBounds(bounds);
}
function pop_up_info(info_msg){
    if(notyf == undefined){
        notyf = new Notyf({
        position: {
            x: 'right',
            y: 'top',
        },
        dismissible: false,
        duration:4000,
        types: [
            {

            }
        ]
        });
    }
    notyf.success(info_msg);
}
function my_remote_fetch(url,remoteinstance, callback) {

    myHeaders = new Headers();
    var promises = []
    if(remoteinstance != "local"){
        myHeaders.append('Content-Type', 'application/json');
        myHeaders.append('Authorization', 'Token '+remoteinstance.token);
        url = remoteinstance.url + url;
    }

    promises.push(fetch(url,{
            method: 'GET',
            headers: myHeaders,
        }).then(response => response.json()))


    Promise.all(promises).then(function(data){
        data.forEach(function(element) {
            if(element.detail != undefined){
                pop_up_error(element.detail);
                return;
            }

            callback(element,remoteinstance);
        })
    });   

}
function remote_instance_fetch(url, callback) {


    var promises = []
    //promises.push(fetch(url).then(response => response.json()))
    promises.push(fetch(url).then(response => response.json()).then(function(response){
        var my_json = {"remoteinstance":"local","data":response}
        return my_json;
    }))
    remoteInstances.forEach(function(remoteInstance) {
        myHeaders = new Headers();
        myHeaders.append('Content-Type', 'application/json');
        myHeaders.append('Authorization', 'Token '+remoteInstance.token);
        promises.push(fetch(remoteInstance.url+url, {
            method: 'GET',
            headers: myHeaders,
        }).then(response => response.json()).then(function(response){
            var my_json = {"remoteinstance":remoteInstance,"data":response}
            return my_json;
        }))
    })


    Promise.all(promises).then(function(data){
        data.forEach(function(element) {

            if(element.detail != undefined){
                pop_up_error(element.detail);
                return;
            }

            callback(element);
        })
    });   
}
function my_fetch(url, callback) {


    var promises = []
    promises.push(fetch(url).then(response => response.json()))


    Promise.all(promises).then(function(data){

        data.forEach(function(element) {
            if(element.detail != undefined){
                pop_up_error(element.detail);
                return;
            }

            callback(element);
        })
    });   

}

</script>