<!--

=========================================================
* Volt - Bootstrap 5 Admin Dashboard
=========================================================

* Product Page: https://themesberg.com/product/admin-dashboard/volt-bootstrap-5-dashboard
* Copyright 2020 Themesberg (https://www.themesberg.com)

* Designed and coded by https://themesberg.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. Please contact us to request a removal.

-->
{% load leaflet_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Primary Meta Tags -->
    <title>AgriBIoT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'volt/assets/img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'volt/assets/img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'volt/assets/img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'volt/assets/img/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'volt/assets/img/favicon/safari-pinned-tab.svg' %}" color="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Fontawesome -->
    <link type="text/css" href="{% static 'volt/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">

    <!-- Notyf -->
    <link type="text/css" href="{% static 'volt/vendor/notyf/notyf.min.css' %}" rel="stylesheet">

    <!-- Volt CSS -->
    <link type="text/css" href="{% static 'volt/css/volt.css' %}" rel="stylesheet">

    <link type="text/css" href="{% static 'css/custom.css' %}" rel="stylesheet">

    <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
  {% leaflet_js plugins="ALL" %}
  {% leaflet_css plugins="ALL" %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chartist@0.11.4/dist/chartist.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chartist@0.11.4/dist/chartist.min.js"></script>
    <script src="{% static 'js/wellknown.js' %}"></script>
    <script src="{% static 'js/agribiot.js' %}"></script>

{% if page == "operations_list" %}
    <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1/jquery-ui.min.css' %}" />
    <link rel="stylesheet" href="{% static 'DataTables/datatables.min.css' %}" />
{% elif page == "index" %}

{% endif %}

</head>

<body>

{% load static %}
{% load auth_extras %}
<nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-md-none">
    <a class="navbar-brand mr-lg-5" href="{% static 'volt/index.html' %}">
        <img class="navbar-brand-dark" src="{% static 'volt/assets/img/brand/light.svg' %}" alt="Volt logo" /> <img class="navbar-brand-light" src="{% static 'volt/assets/img/brand/dark.svg' %}" alt="Volt logo" />
    </a>
    <div class="d-flex align-items-center">
        <button class="navbar-toggler d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<nav id="sidebarMenu" class="sidebar d-md-block bg-primary text-white collapse" data-simplebar>
    <div class="sidebar-inner pt-3">
      <ul class="nav flex-column">
        <!--  title -->
        <li class="nav-item" align="center">
          <span> AGRIBIOT </span>
        </li>
        <!-- TAB -->
        <li class="nav-item">
          <a href="/" class="nav-link">
            <span class="sidebar-icon"><span class="fas fa-chart-pie"></span></span>
            <span>Home</span>
          </a>
        </li>

        <li class="nav-item ">
          <a href="/alarm.html" class="nav-link">
              <span class="sidebar-icon"><span class="fas fa-bell"></span></span>
              <span>Alarm</span>
          </a>
        </li>
        <li class="nav-item ">
          <a href="/task_list.html" class="nav-link">
              <span class="sidebar-icon"><span class="fas fa-map-pin"></span></span>
              <span>Tâches</span>
          </a>
        </li>


        <li class="nav-item ">
          <a href="/operations.html" class="nav-link">
              <span class="sidebar-icon"><span class="fas fa-map-pin"></span></span>
              <span>Operations</span>
          </a>
        </li>

        <li class="nav-item ">
          <a href="/observation_list.html" class="nav-link">
              <span class="sidebar-icon"><span class="fas fa-map-pin"></span></span>
              <span>Observations</span>
          </a>
        </li>
        {% if request.user|has_group:"farmUserGroup" %} 
        <li class="nav-item">
          <span class="nav-link  collapsed  d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#submenu-app">
            <span>
              <span class="sidebar-icon"><span class="fas fa-share-alt"></span></span> 
              Settings
            </span>
            <span class="link-arrow"><span class="fas fa-chevron-right"></span></span> 
          </span>
          <div class="multi-level collapse " role="list" id="submenu-app" aria-expanded="false">
            <ul class="flex-column nav">
              <li class="nav-item "><a href="/remoteaccess_list.html" class="nav-link"><span>Remote permissions</span></a></li>
            </ul>
            <ul class="flex-column nav">
              <li class="nav-item "><a href="/foreignfarmuser_list.html" class="nav-link"><span>Remote user</span></a></li>
            </ul>
            <ul class="flex-column nav">
              <li class="nav-item "><a href="/remoteinstance_list.html" class="nav-link"><span>Remote instance</span></a></li>
            </ul>
            <ul class="flex-column nav">
              <li class="nav-item "><a href="/manage_object.html" class="nav-link"><span>Sensor</span></a></li>
            </ul>
            <ul class="flex-column nav">
              <li class="nav-item "><a href="/create_alarm.html" class="nav-link"><span>Alarm</span></a></li>
            </ul>
            <ul class="flex-column nav">
              <li class="nav-item "><a href="/gatewayuser_list.html" class="nav-link"><span>Gateway</span></a></li>
            </ul>
            <ul class="flex-column nav">
              <li class="nav-item "><a href="/rfiddeviceuser_list.html" class="nav-link"><span>RFID Device</span></a></li>
            </ul>
            <ul class="flex-column nav">
              <li class="nav-item "><a href="/maintenance.html" class="nav-link"><span>Maintenance</span></a></li>
            </ul>
          </div>
        </li>
        {% endif %}
<!--
        <li class="nav-item ">
          <a href="admin/" class="nav-link">
              <span class="sidebar-icon"><span class="fas fa-user-lock"></span></span>
              <span>Admin</span>
          </a>
        </li>
      -->
        <li class="nav-item ">
          <a href="/accounts/logout/" class="nav-link">
              <span class="sidebar-icon"><span class="fas fa-user-lock"></span></span>
              <span>Logout</span>
          </a>
        </li>

      </ul>
    </div>
</nav>









    
<main class="content">


<nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark pl-0 pr-2 pb-0">
    <div class="container-fluid px-0">
      <div class="d-flex justify-content-between w-100" id="navbarSupportedContent">
        <div class="d-flex">
            <div class="search-bar align-items-center">
                <a onclick="closeNav()" class="nav-link">
                <span class="sidebar-icon">☰</span>
                <span id="navbarAction">Hide sidebar</span></a>


            </div>

        </div>
        {% if page == "index" %}
        <div class="btn-toolbar dropdown">
        </div>
        <div class="btn-group">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="edit-mode">
                <label class="form-check-label" for="flexSwitchCheckDefault">Mode edition</label>
            </div>
        </div>
        {% endif %}
      </div>
    </div>
</nav>
