{% load leaflet_tags %}

{% block header %}
    {% include 'header.html' with page="index"%}
{% endblock header %}





<div class="row justify-content-md-center">
    <div class="col-12 mb-4">
        {% leaflet_map "main" callback="window.map_init"  %}
    </div>
</div>
<div class="row">
    <div class="col-6 mb-4">
        <div id="sensor-list" class="card border-light shadow-sm">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                    <h2 class="h5">Sensor list</h2>
                    </div>
                    <div class="col text-right">
                        <a onclick="fill_sensor_object_table_with_parcel(undefined,undefined)" class="btn btn-sm btn-secondary">See all</a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table id="sensor-object-list" class="table align-items-center table-flush table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">UUID</th>
                        <th scope="col">Description</th>
                        <th scope="col">type</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-6 col-xl-6 mb-4" id="value-block" hidden>
        <div class="col-12 mb-4" >
            <div class="card border-light shadow-sm" >
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                        <h2 class="h5 temp-title"></h2>
                        </div>
                    </div>
                </div>
                <div class="col"><h5 ></h5>
                    <div id="value-graph">
                            <form>
                            <label for="start_date">start date:</label>
                            <input type="date" id="start_date" >
                            <span></span>
                            <input type="time" id="start_time" value="08:00">
                            </span>
                            <label for="end_date">end date:</label>
                            <input type="date" id="end_date" >
                            <span></span>
                            <input type="time" id="end_time" value="08:00">
                            </span>
                            <input value="submit" type="button" id="graph-date-picker">
                        </form>
                        <div class="chart-pos"></div>
                    </div>
                    <div id="value-list">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th id="th-value-desc"></th>
                                    <th id="th-image"></th>

                                </tr>
                            </thead>
                            <tbody class="table-content" id="value-list-tbody">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="manager-sensor" class="col-4 col-xl-4 mb-4"  hidden>
        <div class="card border-light shadow-sm">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                    <h2 id="manager-sensor-title"class="h5"></h2>
                    </div>
                </div>
            </div>
            <div >
                <form id="sensor-object-forms"   onsubmit="return false">
                    <table class="table align-items-center">
                        <!--<thead>
                            <tr>
                            <th colspan="2"></th>
                            </tr>

                        </thead>-->
                        <tbody>
                            <tr scope="col">
                                <td>
                                    <label class="form-label">Position :</label>
                                </td>
                                <td>
                                    <input class="form-input" type="text" name="object_position" id="object_position_input" value="Select on map">
                                </td>
                            </tr>
                            <tr scope="col">
                                <td>
                                    <label class="form-label">ID (without space) :</label>
                                </td>
                                <td>
                                    <input class="form-input" type="text" name="object_uuid" id="object_uuid_input">
                                </td>
                            </tr>

                            <tr scope="col">
                                <td>
                                    <label class="form-label">Description :</label>
                                </td>
                                <td>
                                    <input class="form-input" type="text" name="object_description" id="object_description_input">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table id="sensor-object-create-table" class="table align-items-center">

                    </table>
                    <div class="center-button"></div>
                        <button id="sensor-object-cancel" onclick="cancel_edit()" type="submit" class="btn btn-primary" >Annuler</button>
                        <button id="sensor-object-submit" onclick="add_object()" type="submit" class="btn btn-primary" >Editer l'objet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img id="modal-photo" src="">
        </div>
    </div>
</div>

{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}

<script>

remoteInstances = []

agribiotInstances =[];
var map;

let markersMaps = new Map()

edit_mode = document.getElementById('edit-mode');

edit_mode.checked = false;




edit_mode.addEventListener('change', e => {
    if(e.target.checked){
        //Enable edit mode
        document.getElementById("value-block").hidden = true;
        document.getElementById("sensor-list").hidden = true;
        document.getElementById("manager-sensor").hidden = false;
        document.getElementById("manager-sensor-title").innerHTML ="Modifier (Selectionner l'objet sur la carte)";
        var object_uuid_input = document.getElementById('object_uuid_input');
        var object_description_input = document.getElementById('object_description_input');
        var object_position_input = document.getElementById('object_position_input');
        object_uuid_input.setAttribute("readonly", "readonly");
        object_description_input.setAttribute("readonly", "readonly");
        object_position_input.setAttribute("readonly", "readonly");
        object_uuid_input.innerHTML = "";
        object_description_input.innerHTML = "";
        object_position_input.innerHTML = "";
        enableDraggable();
        object_description_input.addEventListener('input', function(e){
            var btn_sensor_object_submit = document.getElementById('sensor-object-submit');
            btn_sensor_object_submit.innerHTML = "Confirmer"
        });
        object_position_input.addEventListener('input', function(e){
            var btn_sensor_object_submit = document.getElementById('sensor-object-submit');
            btn_sensor_object_submit.innerHTML = "Confirmer"
        });

    }else{ //disable edit mode
        sensor_object_table= document.getElementById("sensor-object-list").getElementsByTagName('tbody')[0];
        while (sensor_object_table.rows.length > 0) {
            sensor_object_table.deleteRow(-1);
        }
        document.getElementById("manager-sensor").hidden = true;
        document.getElementById("sensor-list").hidden = false;
        disableDraggable();
    }

});
if(edit_mode.checked){
    document.getElementById("value-block").hidden = true;
    document.getElementById("sensor-list").hidden = true;
}else{
    document.getElementById("manager-sensor").hidden = true;
    document.getElementById("sensor-list").hidden = false;
}
var tmp_object_id = undefined ;
var tmp_pos  = undefined;


function enableDraggable(){

    markersMaps.get("local").forEach(function(marker){
        marker.dragging.enable();
        marker.on('dragend', function(e) {
            var object_position_input = document.getElementById('object_position_input');
            var btn_sensor_object_submit = document.getElementById('sensor-object-submit');
            object_position_input.value = e.target._latlng.lat +","+ e.target._latlng.lng;
            btn_sensor_object_submit.innerHTML = "Confirmer"
        });
        marker.on('drag', function(e) {
            var object_position_input = document.getElementById('object_position_input');
            object_position_input.value = e.target._latlng.lat +","+ e.target._latlng.lng;
        });
        marker.on('dragstart', function(e) {
            marker_click_listener(e,marker);
            if(tmp_object_id == undefined){
                tmp_object_id = marker.options.object.id;
                tmp_pos = e.target._latlng;
            }else if(tmp_object_id != marker.options.object.id){
                markersMaps.get("local").forEach(function(markerToReplace){
                    if(markerToReplace.options.object.id == tmp_object_id){
                        markerToReplace.setLatLng(tmp_pos);
                        tmp_object_id = marker.options.object.id;
                        tmp_pos = e.target._latlng;
                    }
                });
            }
        });
    })
}
function cancel_edit(){
    if(tmp_object_id != undefined){
        markersMaps.get("local").forEach(function(markerToReplace){
            if(markerToReplace.options.object.id == tmp_object_id){
                markerToReplace.setLatLng(tmp_pos);
                tmp_object_id = undefined;
                tmp_pos = undefined;
            }
        });
        var btn_sensor_object_submit = document.getElementById('sensor-object-submit');
        btn_sensor_object_submit.innerHTML = "Editer l'objet"
    }
}
function disableDraggable(){

    markersMaps.get("local").forEach(function(marker){
        marker.dragging.disable();
    })
    cancel_edit();
}

Date.prototype.addHours = function(hours) {
    var dat = new Date(this.valueOf())
    dat.setHours(dat.getHours() + hours);
    return dat;
}

function getDates(startDate, stopDate) {
    var dateArray = new Array();
    var currentDate = startDate;
    while (currentDate <= stopDate) {
    dateArray.push(currentDate)
    currentDate = currentDate.addHours(1);
    }
    return dateArray;
}

function change_date(sensor_object_id,remoteInstance) {
    if(document.getElementById("end_date").value){
        start_date_str=document.getElementById("start_date").value+"-"+document.getElementById("start_time").value
        start_date_str = start_date_str.replace(":","-")
        end_date_str=document.getElementById("end_date").value+"-"+document.getElementById("end_time").value
        end_date_str = end_date_str.replace(":","-")
        display_chart(sensor_object_id,start_date_str,end_date_str,remoteInstance);    
    }else{
        date_str=document.getElementById("start_date").value+"-"+document.getElementById("start_time").value
        date_str = date_str.replace(":","-")
        display_chart(sensor_object_id,date_str,undefined,remoteInstance);    
    }
}

function display_sensor_object_row(sensor_object,remoteInstance){
    // Insert a row at the end of the table
    sensor_object_table= document.getElementById("sensor-object-list").getElementsByTagName('tbody')[0];

    let newRow = sensor_object_table.insertRow(-1);
    newRow.id = "sensor_object_"+sensor_object.id;
    newRow.onclick = sensor_object_row_click_handler(sensor_object,remoteInstance);
        // ** Event : Mouse Over **
    newRow.addEventListener("mouseover", function(e) {
        //markersRef[this.getAttribute('marker')].fire('mouseover'); // --> Trigger Marker Event "mouseover"
        var marker = tmp_markersRef[sensor_object.object_id.id];
        _fireEventOnMarkerOrVisibleParentCluster(marker, 'mouseover');
        // TODO : Trigger ClusteredMarker Event "mouseover"
    });
    // ** Event : Mouse Over **
    newRow.addEventListener("mouseout", function(e) {
        //markersRef[this.getAttribute('marker')].fire('mouseout'); // --> Trigger Marker Event "mouseout"
        var marker = tmp_markersRef[sensor_object.object_id.id];
        _fireEventOnMarkerOrVisibleParentCluster(marker, 'mouseout');
        // TODO : Trigger ClusteredMarker Event "mouseout"
    });
    // UUID    Description    Probe Type
    var td_object_id = document.createElement("td"); 
    td_object_id.innerHTML = sensor_object.object_id.uuid;
    newRow.appendChild(td_object_id)
    var td_sensor_id = document.createElement("td"); 
    td_sensor_id.innerHTML = sensor_object.object_id.description;
    newRow.appendChild(td_sensor_id)
    var td_sensor_type = document.createElement("td"); 
    td_sensor_type.innerHTML = sensor_object.sensor_id.name +"("+sensor_object.sensor_id.unit+")";
    newRow.appendChild(td_sensor_type)
}
function fill_sensor_object_table(object_list,remoteInstance){
    sensor_object_table= document.getElementById("sensor-object-list").getElementsByTagName('tbody')[0];


    while (sensor_object_table.rows.length > 0) {
        sensor_object_table.deleteRow(-1);
    }
    object_list.forEach(function(object) {
        remoteInstance.getSensorObjectsByObject(object.id,function(sensor_objects_merged){
            tmp_markersRef = markersMaps.get(remoteInstance.name);
            sensor_objects_merged.forEach(function(sensor_object){
                display_sensor_object_row(sensor_object,remoteInstance);
            })


        })

    })
}

function fill_sensor_object_table_with_parcel(parcel_id,remoteInstance) {
    if(parcel_id == undefined && remoteInstance == undefined){
        agribiotInstances[0].getObjects(function(data){
            fill_sensor_object_table(data,agribiotInstances[0]);
        });
    }else{
        remoteInstance.getObjectsInParcel(parcel_id,function(data){
            fill_sensor_object_table(data,remoteInstance);
        });
    }
}
function marker_click_listener(e,marker) {

    object = marker.options.object;
    remoteInstance = marker.options.remoteinstance;
    if(edit_mode.checked){
        document.getElementById("manager-sensor").hidden = false;
        document.getElementById("manager-sensor-title").innerHTML ="Modifier " + object.uuid;
        var object_uuid_input = document.getElementById('object_uuid_input');
        var object_description_input = document.getElementById('object_description_input');
        var object_position_input = document.getElementById('object_position_input');
        var sensor_object_create_table = document.getElementById('sensor-object-create-table');
        var btn_sensor_object_submit = document.getElementById('sensor-object-submit');
        object_uuid_input.value = object.uuid;
        point = wellknown.parse(object.position)
        object_position_input.value = point.coordinates[1] +","+ point.coordinates[0];
        object_uuid_input.setAttribute("readonly", "readonly");
        object_description_input.removeAttribute("readonly");
        object_position_input.removeAttribute("readonly");
        object_description_input.value = object.description;
        sensor_object_create_table.innerHTML = "";
        btn_sensor_object_submit.setAttribute( "onClick", "javascript: put_object("+object.id+");" );
        btn_sensor_object_submit.innerHTML = "Editer l'objet"


    }else{
        remoteInstance.getObjectById(object.id,function(data){
            fill_sensor_object_table([data],remoteInstance);
        })      
    }

}


function put_object(object_id){

    var object_position_input = document.getElementById('object_position_input');
    if(object_position_input == undefined || object_position_input.value == "Select on map"){
        pop_up_error("Fill/select object position")
        return;
    }
    var object_uuid_input = document.getElementById('object_uuid_input');
    if(object_uuid_input == undefined || object_uuid_input.value == undefined){
        pop_up_error("Fill object uuid")
        return;
    }

    var str_pos_array = object_position_input.value.split(',')
    if(parseFloat(str_pos_array[0]) == NaN || parseFloat(str_pos_array[1] == NaN)){
        pop_up_error("Invalid position")
        return;
    }
    var object_position = "SRID=4326;POINT ("+ str_pos_array[1] + " " +str_pos_array[0] +")"
    var object_description_input = document.getElementById('object_description_input');

    var object = {};
    object.id = object_id;
    object.position = object_position;
    object.uuid = object_uuid_input.value ;
    object.description = object_description_input.value;
    agribiotInstances[0].updateObject(object,function(){
        markersMaps.get("local").forEach(function(marker){
            if(marker.options.object.id == tmp_object_id){
                marker.options.object.description = object.description;
                pop_up_info("objet edité");
                var btn_sensor_object_submit = document.getElementById('sensor-object-submit');
                btn_sensor_object_submit.innerHTML = "Editer l'objet"
                tmp_pos = marker._latlng;

            }
        })
    })

}

function display_chart(sensor_object_id,start_date,end_date,remoteInstance){

    $(".chart-pos").html("");
    
    if(start_date == undefined && end_date == undefined){
        remoteInstance.getValueBySensorObject(sensor_object_id,function(values) {
            var data = {
                labels: values.map(function(value) {
                    return value.created;
                }),
                series: [values.map(function(value) {
                    return value.value;
                })]
            };
            var options = {
                low: 0,
                showArea: true,
                axisX: {
                    labelInterpolationFnc: function (value, index) {
                        return index % 10 == 0 ?value:null;
                    }
                }
            };
            new Chartist.Line('.chart-pos', data, options);
        })
    }else if(start_date != undefined && end_date == undefined){
        remoteInstance.getValueBySensorObjectSinceDate(sensor_object_id,start_date,function(values) {
            var data = {
                labels: values.map(function(value) {
                    return value.created;
                }),
                series: [values.map(function(value) {
                    return value.value;
                })]
            };
            var options = {
                low: 0,
                showArea: true,
                axisX: {
                    labelInterpolationFnc: function (value, index) {
                        return index % 10 == 0 ?value:null;
                    }
                }
            }; 
            new Chartist.Line('.chart-pos', data, options);
            
        })
    }else if(start_date != undefined && end_date != undefined){
        remoteInstance.getValueBySensorObjectRangeDate(sensor_object_id,start_date,end_date,function(values) {
            var data = {
                labels: values.map(function(value) {
                    return value.created;
                }),
                series: [values.map(function(value) {
                    return value.value;
                })]
            };
            var options = {
                low: 0,
                showArea: true,
                axisX: {
                    labelInterpolationFnc: function (value, index) {
                        return index % 10 == 0 ?value:null;
                    }
                }
            };
            new Chartist.Line('.chart-pos', data, options);
        })
    }
}
function displayModal(photoPath){
    document.getElementById("modal-photo").src = ""
    document.getElementById("modal-photo").src = photoPath ;
}

function sensor_object_row_click_handler(row_element,remoteInstance) {
    return function() {
        
    if(row_element.sensor_id.name == "Température" || row_element.sensor_id.name == "Humidité"){
        document.getElementById("value-block").hidden = false;
        document.getElementById("value-graph").hidden = false;



        document.getElementById("graph-date-picker").onclick=function() { change_date(row_element.id,remoteInstance) };

        var date = new Date();
        date.setDate(date.getDate());
        hour = date.getHours()-10
        if(hour <10){
            hour = "0"+hour;
        }
      
        str_date = date.getFullYear() + "-" + ("0" + (date.getMonth() + 1)).slice(-2) + "-"+ ("0" + date.getDate()).slice(-2)+"-"+hour+"-00"
        
        if(row_element.sensor_id.name == "Température"){
            $(".temp-title").html("Températures");

            display_chart(row_element.id,str_date,undefined,remoteInstance);    
        
        }else if(row_element.sensor_id.name == "Humidité"){
            $(".temp-title").html("Humidité");
            display_chart(row_element.id,str_date,undefined,remoteInstance);    
        }
        

        /* display as list */
        document.getElementById("th-value-desc").innerHTML = "value ("+row_element.sensor_id.unit+")";
        remoteInstance.getValueBySensorObjectLastN(row_element.id,50,function(data) {
            let tableRef = document.getElementById("value-list-tbody");                    
            tableRef.innerHTML = "";
            data.forEach(function(element){
                // Insert a row at the end of the table
                let newRow = tableRef.insertRow(-1);
                // Parcel Id 	Probe Id 	Probe Type
                var td_created = document.createElement("td"); 
                created = new Date(element.created).toLocaleString('fr-fr')
                td_created.innerHTML = created;
                newRow.appendChild(td_created)
                var td_value = document.createElement("td"); 
                td_value.innerHTML = element.value;
                newRow.appendChild(td_value)
            });        
        })  
        
        
    }  else  if(row_element.sensor_id.name == "tag"){
        document.getElementById("value-block").hidden = false;
        document.getElementById("value-graph").hidden = true;
        $(".temp-title").html("Tag " + row_element.object_id.uuid);

        /* display as list */
        document.getElementById("th-value-desc").innerHTML = "";
        remoteInstance.getOperationBySensorObject(row_element.id,function(data) {
            let tableRef = document.getElementById("value-list-tbody");
            tableRef.innerHTML = "" ;
            if(data.length >0){
                data.forEach(function(element){
                    // Insert a row at the end of the table
                    let newRow = tableRef.insertRow(-1);
                    // Parcel Id    Probe Id    Probe Type
                    var td_created = document.createElement("td"); 
                    created = new Date(element.created).toLocaleString('fr-fr', { timeZone: 'UTC' })
                    td_created.innerHTML = created;
                    newRow.appendChild(td_created)
                    var td_value = document.createElement("td"); 
                    td_value.innerHTML = element.annotation_template_id.description;
                    newRow.appendChild(td_value)

                    var td_image = document.createElement("td"); 
                    if(element.images.length>0){
                        remoteInstance.getOperationImage(element.images[0],function(data){
                            photo_path = data.photo;
                            photo_path = photo_path.replace(".","-50.");
                            td_image.innerHTML = "<img data-toggle=\"modal\" data-target=\"#modal-default\" id=image_thumb_"+element.images[0]+">";
                            $("#image_thumb_"+element.images[0]).attr("src", photo_path);
                            $("#image_thumb_"+element.images[0]).attr("onclick", "displayModal(\"" +data.photo +"\")");
                        })
                    }else{
                        td_image.innerHTML = "";
                    }
                    newRow.appendChild(td_image)
                });      
            }
        })
    }
    };
};

function _fireEventOnMarkerOrVisibleParentCluster(marker, eventName) {

    marker.fire(eventName);
}

function onEachFeature(feature, layer) {		
    // Append the text to <li>
    layer.on('click', function (e) {
        if(feature.properties.type == "field"){
            
            fill_sensor_object_table_with_parcel(feature.id,feature.properties.remoteinstance)
            

        }

    });

}

function addParcelsToMap(map, remoteInstance, parcels){
    exploitation = {"type":"FeatureCollection","features":[]};
    parcels.forEach(function(element){
        var parcel =    { type: "Feature",
                            id:element.id,
                            geometry:wellknown.parse(element.geometry),
                            properties:{type:"field",
                                        remoteinstance:remoteInstance,
                                        name:element.name
                                        }
                        };
        exploitation.features.push(parcel);
    });

    L.geoJSON(exploitation, {
        onEachFeature: onEachFeature,
        style: {fillColor:remoteInstance.color,opacity: 1,}
    }).addTo(map);
}

function addSensorObjectToMap(map, remoteInstance, sensorObjects){
    if(markersMaps.has(remoteInstance.name) == false){
        tmp_markers = [];
        markersMaps.set(remoteInstance.name,tmp_markers);
    }

    tmp_markersRef = markersMaps.get(remoteInstance.name);
    sensorObjects.forEach(function(element){
        var marker = tmp_markersRef[element.object_id.id]
        if(marker == undefined){
            point = wellknown.parse(element.object_id.position).coordinates
            if(point[0] == 0.0 && point[1] == 0.0){
                pop_up_error("Sensor or Tag : " + element.object_id.uuid + " position is not initialized");
            }
            const cur_icon = L.divIcon({
                html: '<div><i class="fas fa-thermometer-half fa-2x"></i></div>',
                iconSize: [40, 40],
                className: 'myDivIcon'
            });

            tmp_markersRef[element.object_id.id] = L.marker(new L.LatLng(point[1],point[0]), {
                icon:cur_icon,
                type:"probe",
                object: element.object_id,
                remoteinstance:remoteInstance,
                sensor:[],
            }, {
                title: element.object_id.id,
            });
            marker = tmp_markersRef[element.object_id.id]
        }

        marker.options.sensor.push(element.sensor_id.name);
    })
    tmp_markersRef.forEach(function(marker){
        //TODO dynamically compose SVG image...
        if(marker.options.sensor.length ==2){
            marker.options.icon.options.html= '<i class="fas fa-thermometer-half fa-2x">'

        }else if(marker.options.sensor.length ==1){
            marker.options.icon.options.html= '<div><i class="fas fa-tag fa-2x"></i></div>'
        }
        marker.on('mouseover', function(e) {
            if (this._icon != null) {
                this._icon.classList.remove("prop-div-icon");
                this._icon.classList.add("prop-div-icon-shadow");
            }
        });
        marker.on('mouseout', function(e) {
            if (this._icon != null) {
                this._icon.classList.remove("prop-div-icon-shadow");
                this._icon.classList.add("prop-div-icon");
            }

        });
        marker.on('click', function(e) {
            marker_click_listener(e,marker);
        });
        map.addLayer(marker);
    })
    markersMaps.set(remoteInstance.name,tmp_markersRef);
    if(remoteInstance.name == "local"){
        center_map(map);
    }
}



function map_init(theMap, options) {
    map= theMap;

    agInstance = new AgribiotInstance("local","local",undefined,undefined);
    agribiotInstances.push(agInstance);

    agribiotInstances[0].getRemoteInstances(function(data){
        data.forEach(function(rInstance){
            agribiotInstances.push(new AgribiotInstance(rInstance.url,rInstance.name,rInstance.token,rInstance.color));
        });

        agribiotInstances.forEach(function(rInstance){

            /*
                Getting parcels
            */
            rInstance.getParcel(function(parcels){
                if(parcels != undefined ){
                    addParcelsToMap(map,rInstance, parcels);
                }
            });

            /*
                Getting sensor_objects
            */
            rInstance.getSensorObjects(function(sensor_objects){
                if(sensor_objects != undefined){
                    addSensorObjectToMap(map,rInstance,sensor_objects);
                }
            });
        });
    });
}


window.addEventListener("map:init", function (event) {

 
});   
</script>


