{% load leaflet_tags %}

{% block header %}
    {% include 'header.html' with page="index"%}
{% endblock header %}


<div class="row">
    <div class="col-12 mb-4">
        <div class="card border-light shadow-sm components-section">
            <div class="card-body">
                    
                    <div class="mb-3 mt-5">
                        <small class="text-uppercase font-weight-bold">Mode maintenance</small>
                    </div>
                    <!--Buttons-->
                    <form action="{% url 'start_maintenance' %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Activer le mode maintenance</button>
                    </form>
                    <form action="{% url 'stop_maintenance' %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-tertiary" type="submit">Désactiver le mode maintenance</button>
                    </form>
                    <!--End Of Buttons-->
                    
            </div>
        </div>
    </div>
</div>


{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}


<script>

</script>


