
{% load leaflet_tags %}


{% block header %}
    {% include 'header.html' %}
{% endblock header %}
<div class="row justify-content-md-center">
    <div class="col-12 mb-4">
        {% leaflet_map "main" %}
    </div>
</div>
<div class="py-4">
    <nav aria-label="breadcrumb">





</body>

</html>

        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
            <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
            <li class="breadcrumb-item"><a href="#">Remote Access</a></li>
            <li class="breadcrumb-item active" aria-current="page">Forms</li>
        </ol>
    </nav>
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">Forms</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-4">
        <div class="card border-light shadow-sm components-section">
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-lg-4 col-sm-6">
                        <!-- Form -->
                        <div class="mb-4">
                            <label class="my-1 mr-2" for="foreign_user">User</label>
                            <select class="form-select" id="foreign_user" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <!-- Sensor -->
                        <div class="mb-4">
                            <label class="my-1 mr-2" for="sensor_select">Sensor</label>
                            <select class="form-select" id="sensor_select" aria-label="Default select example">
                                <option selected>all</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>

                        <!-- End of Form -->
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <!-- Radio -->
                        <fieldset>
                            <legend class="h6">Target type</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="taget_type" id="target_objects" value="target_objects" checked>
                                <label class="form-check-label" for="target_objects">
                                Objects
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="taget_type" id="target_zone" value="target_zone">
                                <label class="form-check-label" for="target_zone">
                                Zone
                                </label>
                            </div>
                            <!-- End of Radio -->
                        </fieldset>
                        <!-- Form -->
                        <div class="my-4">
                            <label for="textarea">Zone/objects </label>
                            <textarea class="form-control" placeholder="Select on map" id="textarea" rows="4"></textarea>
                        </div>
                        <!-- End of Form -->

                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <!-- Radio -->
                        <fieldset>
                            <legend class="h6">Access kind</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="access_kind" id="allow_all_value" value="allow_all_value" checked>
                                <label class="form-check-label" for="allow_all_value">
                                All value
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="access_kind" id="allow_last_value" value="allow_last_value">
                                <label class="form-check-label" for="allow_last_value">
                                Only last value
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="access_kind" id="date_range" value="date_range">
                                <label class="form-check-label" for="date_range">
                                Date range
                                </label>
                            </div>
                            <!-- End of Radio -->
                        </fieldset>
                        <div class="mb-3">
                            <label for="birthday">Start date</label>
                            <div class="input-group">
                                <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                                <input data-datepicker="" class="form-control" id="birthday" type="text" placeholder="dd/mm/yyyy" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="birthday">End date</label>
                            <div class="input-group">
                                <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                                <input data-datepicker="" class="form-control" id="birthday" type="text" placeholder="dd/mm/yyyy" required>
                            </div>
                        </div>
                        <!-- End of Form -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
  
{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}



        

<script>

var markersRef = [];
var layers = [];
var map = undefined;
var drawnItems = undefined;
var drawControl = undefined;
var polygonDraw = undefined;
var editToolbar = undefined;
var removeToolbar = undefined;
var index_element = 0;
var last_hover_zone = 0;



var my_tmp_layer = undefined;

function toWKT (layer) {
    var lng, lat, coords = [];
		if (layer instanceof L.Polygon || layer instanceof L.Polyline) {
			var latlngs = layer.getLatLngs();
		for (var i = 0; i < latlngs.length; i++) {
				var latlngs1 = latlngs[i];
				if (latlngs1.length){
				for (var j = 0; j < latlngs1.length; j++) {
					coords.push(latlngs1[j].lng + " " + latlngs1[j].lat);
					if (j === 0) {
						lng = latlngs1[j].lng;
						lat = latlngs1[j].lat;
					}
				}}
				else
				{
					coords.push(latlngs[i].lng + " " + latlngs[i].lat);
					if (i === 0) {
						lng = latlngs[i].lng;
						lat = latlngs[i].lat;
					}}
		};
			if (layer instanceof L.Polygon) {
				return "POLYGON((" + coords.join(",") + "," + lng + " " + lat + "))";
			} else if (layer instanceof L.Polyline) {
				return "LINESTRING(" + coords.join(",") + ")";
			}
		} else if (layer instanceof L.Marker) {
			return "POINT(" + layer.getLatLng().lng + " " + layer.getLatLng().lat + ")";
		}
};
	
function _fireEventOnMarkerOrVisibleParentCluster(marker, eventName) {

    marker.fire(eventName);
}


window.addEventListener("map:init", function (event) {

    map = event.detail.map.setView([ 44.5337272 ,-0.3312454], 15);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox/streets-v11',		tileSize: 512,
        zoomOffset: -1
    }).addTo(map);



    drawnItems = new L.FeatureGroup();
    drawControl = new L.Control.Draw({
        draw: {
            polygon: true,
            polyline: false,
            circle: false,
            rectangle: false,
            marker: false
        },
        edit: {
            featureGroup: drawnItems,
            edit: true,
            remove : true
        }
    });
    polygonDraw = new L.Draw.Polygon(map, drawControl.options.polygon);

     
    map.on(L.Draw.Event.CREATED, function (e) {
        var type = e.layerType;
        layer = e.layer;
        if (type === 'polygon') {
            // Do marker specific actions 
            var triggerZoneInput = document.getElementById('triggerZoneInput'+last_hover_zone);
            triggerZoneInput.value = toWKT(layer);
        }
        // Do whatever else you need to. (save to db; add to map etc)
        map.addLayer(layer);
        layers[last_hover_zone] = layer;
    });




    // Fetch sensor object 
    fetch('api/sensor_object/')
    .then(function(resp) {
    return resp.json();
    })
    .then(function(data) {
        if(data.detail != undefined){
            pop_up_error(data.detail);
            return;
        }
        data.forEach(function(element){
            var marker = markersRef[element.object_id.id]
            if(marker == undefined){
                point = wellknown.parse(element.object_id.position).coordinates
                const cur_icon = L.divIcon({
                    html: '<div><i class="fas fa-thermometer-half fa-2x"></i></div>',
                    iconSize: [40, 40],
                    className: 'myDivIcon'
                });


                markersRef[element.object_id.id] = L.marker(new L.LatLng(point[1],point[0]), {
                    icon:cur_icon,
                    type:"probe",
                    name: element.object_id.id,
                    sensor:[],
                }, {
                    title: element.object_id.id,
                });
                marker = markersRef[element.object_id.id]
            }

            marker.options.sensor.push(element.sensor_id.name);


                
        })
        markersRef.forEach(function(marker){
            //TODO dynamically compose SVG image...
            if(marker.options.sensor.length ==2){
                marker.options.icon.options.html= '<i class="fas fa-thermometer-half fa-2x">'

            }else if(marker.options.sensor.length ==1){
                marker.options.icon.options.html= '<div><i class="fas fa-tag fa-2x"></i></div>'
            }
            marker.on('mouseover', function(e) {
                if (this._icon != null) {
                    this._icon.classList.remove("prop-div-icon");
                    this._icon.classList.add("prop-div-icon-shadow");
                }
            });
            marker.on('mouseout', function(e) {
                if (this._icon != null) {
                    this._icon.classList.remove("prop-div-icon-shadow");
                    this._icon.classList.add("prop-div-icon");
                }

            });
            //marker.on('click', function(e) {
            //    fill_object_field_with_map(marker.options.name);
            //});
            map.addLayer(marker);
        })


    });
    
});


</script>

