{% load leaflet_tags %}
{% block header %}
    {% include 'header.html' %}
{% endblock header %}
<div class="row justify-content-md-center">
    <div class="col-12 mb-4">
        {% leaflet_map "main" %}
    </div>
</div>
<div class="row">
    <div class="col-12 col-xl-12 mb-4">
        <div class="row">
            <div class="col-4 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                            <h2 class="h5">Add sensor</h2>
                            </div>

                        </div>
                    </div>
                    <div >
                        <form id="sensor-object-forms"   onsubmit="return false">
                            <table class="table align-items-center">
                                <!--<thead>
                                    <tr>
                                    <th colspan="2"></th>
                                    </tr>

                                </thead>-->
                                <tbody>
                                    <tr scope="col">
                                        <td>
                                            <label class="form-label">Position :</label>
                                        </td>
                                        <td>
                                            <input class="form-input" type="text" name="object_position" id="object_position_input" value="Select on map">
                                        </td>
                                    </tr>
                                    <tr scope="col">
                                        <td>
                                            <label class="form-label">ID (without space) :</label>
                                        </td>
                                        <td>
                                            <input class="form-input" type="text" name="object_uuid" id="object_uuid_input">
                                        </td>
                                    </tr>

                                    <tr scope="col">
                                        <td>
                                            <label class="form-label">Description :</label>
                                        </td>
                                        <td>
                                            <input class="form-input" type="text" name="object_description" id="object_description_input">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table id="sensor-object-create-table" class="table align-items-center">
                            </table>


                            <button id="sensor-object-submit" onclick="add_object()" type="submit" class="btn btn-primary" >Create sensor object</button>
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-8 mb-4">
                <div id="sensor-list" class="card border-light shadow-sm">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                            <h2 class="h5">Sensor list</h2>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="sensor-object-list" class="table align-items-center table-flush table-hover">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Position</th>
                                <th scope="col">UUID</th>
                                <th scope="col">Type</th>
                                <th scope="col">Description</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row">
    <div class="col-12 col-xl-12 mb-4">
        <div class="row">
        </div>
    </div>
</div>

{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}
    

<script>

var markersRef = [];
var layers = [];   
var map = undefined;
var drawnItems = undefined;
var drawControl = undefined;
var polygonDraw = undefined;
var editToolbar = undefined;
var removeToolbar = undefined;
var current_index = 0;

//document.getElementById("triggerTarget").selectedIndex = 0


const csrftoken = getCookie('csrftoken');


function isFloat(n){
    return Number(n) === n && n % 1 !== 0;
}

function fetch_sensor_object() {
    var uri = "api/object/"
    fetch(uri).then(function(resp) {
    return resp.json();
    })
    .then(function(data) {
        if(data.detail != undefined){
            pop_up_error(data.detail);
            return;
        }
        fill_sensor_object_table(data); 
    })// object fetch
}

function append_sensor_object(sensor_object){
        // Insert a row at the end of the table
    let newRow = sensor_object_table.insertRow(-1);
        // ** Event : Mouse Over **
    newRow.addEventListener("mouseover", function(e) {
        //markersRef[this.getAttribute('marker')].fire('mouseover'); // --> Trigger Marker Event "mouseover"
        var marker = markersRef[sensor_object.object_id.id];
        _fireEventOnMarkerOrVisibleParentCluster(marker, 'mouseover');
        // TODO : Trigger ClusteredMarker Event "mouseover"
    });
    // ** Event : Mouse Over **
    newRow.addEventListener("mouseout", function(e) {
        //markersRef[this.getAttribute('marker')].fire('mouseout'); // --> Trigger Marker Event "mouseout"
        var marker = markersRef[sensor_object.object_id.id];
        _fireEventOnMarkerOrVisibleParentCluster(marker, 'mouseout');
        // TODO : Trigger ClusteredMarker Event "mouseout"
    });
    // Object Position  UUID Type    token   Edit    Delete
    var td_object_position = document.createElement("td"); 
    td_object_position.className = "object-position";
    point = wellknown.parse(sensor_object.object_id.position)
    td_object_position.innerHTML = point.coordinates[1] +","+ point.coordinates[0];;
    newRow.appendChild(td_object_position)
    
    var td_object_uuid = document.createElement("td"); 
    td_object_uuid.className = "object-position";
    td_object_uuid.innerHTML = sensor_object.object_id.uuid;
    newRow.appendChild(td_object_uuid)

    var td_sensor_type = document.createElement("td"); 
    td_sensor_type.innerHTML = sensor_object.sensor_id.name +"("+sensor_object.sensor_id.unit+")";
    newRow.appendChild(td_sensor_type)
    var td_object_description = document.createElement("td");
    td_object_description.innerHTML = sensor_object.object_id.description;
    newRow.appendChild(td_object_description)
    var td_edit = document.createElement("td"); 
    td_edit.innerHTML = "<a onclick=\"edit_object("+sensor_object.object_id.id+")\"><i class=\"fas fa-edit\"></i></a>"
    newRow.appendChild(td_edit);
    var td_delete = document.createElement("td"); 
    td_delete.innerHTML = "<a onclick=\"delete_sensor_object("+sensor_object.id+")\"><i class=\"fas fa-times\"></i></a>"
    newRow.appendChild(td_delete);
}

function fill_sensor_object_table(object_list){
    var promises = []
    sensor_object_table= document.getElementById("sensor-object-list").getElementsByTagName('tbody')[0];
    object_list.forEach(function(object) {
        promises.push(fetch("api/sensor_object_by_object/"+object.id+"/").then(response => response.json()))
    })
    Promise.all(promises).then(function(data){
        if(data.detail != undefined){
            pop_up_error(data.detail);
            return;
        }
        while (sensor_object_table.rows.length > 0) {
            sensor_object_table.deleteRow(-1);
        }
        data.forEach(function(sensor_objects){
            sensor_objects.forEach(function(sensor_object){
                append_sensor_object(sensor_object);
            })//Iterate over sensor_object
        })//iterate over fetch result object_list
    })//Open promise result
}
function delete_sensor_object(sensor_object_id){
    var sensor_object_request = new XMLHttpRequest();
    sensor_object_request.open("DELETE", 'api/sensor_object/'+sensor_object_id, true);
    sensor_object_request.setRequestHeader('Content-Type', 'application/json');
    sensor_object_request.setRequestHeader('X-CSRFToken',csrftoken);
    sensor_object_request.onreadystatechange = function() {
        if (sensor_object_request.readyState == XMLHttpRequest.DONE) {
            location.reload();
        }
    }
        sensor_object_request.send();

}

function delete_object(object_id){
    var object_request = new XMLHttpRequest();
    object_request.open("DELETE", 'api/object/'+object_id, true);
    object_request.setRequestHeader('Content-Type', 'application/json');
    object_request.setRequestHeader('X-CSRFToken',csrftoken);
    object_request.onreadystatechange = function() {
        if (object_request.readyState == XMLHttpRequest.DONE) {
        }
    }
        object_request.send();
}
function edit_object(object_id){

    var promises = []


    promises.push(fetch("api/object/"+object_id+"/").then(response => response.json()))

    Promise.all(promises).then(function(data){
        if(data.detail != undefined){
            pop_up_error(data.detail);
            return;
        }
        my_object = data[0];
        var object_uuid_input = document.getElementById('object_uuid_input');
        var object_description_input = document.getElementById('object_description_input');
        var object_position_input = document.getElementById('object_position_input');
        var sensor_object_create_table = document.getElementById('sensor-object-create-table');

        var btn_sensor_object_submit = document.getElementById('sensor-object-submit');
        object_uuid_input.value = my_object.uuid;
        point = wellknown.parse(my_object.position)
        object_position_input.value = point.coordinates[1] +","+ point.coordinates[0];
        object_uuid_input.setAttribute("readonly", "readonly");
        object_description_input.value = my_object.description;
        btn_sensor_object_submit.innerHTML = "Edit object";
        sensor_object_create_table.innerHTML = "";
        btn_sensor_object_submit.setAttribute( "onClick", "javascript: put_object("+object_id+");" );
    });
}
function fill_add_object_form(){
    var sensor_object_create_table = document.getElementById('sensor-object-create-table');
    let newRow = sensor_object_create_table.insertRow(-1);
    newRow.id = "line"+current_index;
    var sensor_object_sensor_html = '<th scope="col"> \
        <label class="form-label">Sensor type : </label> \
        <select id="sensor_input'+current_index+'"></select> \
    </th> \
    <th scope="col">\
        <button id="add-sensor'+current_index+'" class="btn btn-primary" onclick="fill_add_object_form()">+</button> \
    </th> \
     <th scope="col"> \
            <button hidden id="remove-sensor'+current_index+'" class="btn btn-primary" onclick="remove_sensor('+current_index+')">-</button> \
        </th>'

    newRow.innerHTML = sensor_object_sensor_html 

    fillSensor(current_index);
    var i = 0;
    for(i=0;i<current_index;i++){  
        var element = document.getElementById('remove-sensor'+i);
        element.hidden = true;
    }
    if(current_index >0){
        var element = document.getElementById('remove-sensor'+current_index);
        element.hidden = false;

    }
    current_index ++;


}
function put_object(object_id){
    var update_object_request = new XMLHttpRequest();
    var error_pending = false;
    update_object_request.open("PUT", 'api/object/'+object_id+'/', true);
    update_object_request.setRequestHeader('Content-Type', 'application/json');
    update_object_request.setRequestHeader('X-CSRFToken',csrftoken);
    update_object_request.onreadystatechange = function() {
        if (update_object_request.readyState == XMLHttpRequest.DONE) {
            try {
                if(JSON.parse(update_object_request.responseText).id == undefined){
                    pop_up_error(update_object_request.responseText);
                    return;
                }
            } catch (e) {
                pop_up_error(e.toString());
            }
        }
    }

    var object_position_input = document.getElementById('object_position_input');
    if(object_position_input == undefined || object_position_input.value == "Select on map"){
        pop_up_error("Fill/select object position")
        return;
    }
    var object_uuid_input = document.getElementById('object_uuid_input');
    if(object_uuid_input == undefined || object_uuid_input.value == undefined){
        pop_up_error("Fill object uuid")
        return;
    }

    var str_pos_array = object_position_input.value.split(',')
    if(parseFloat(str_pos_array[0]) == NaN || parseFloat(str_pos_array[1] == NaN)){
        pop_up_error("Invalid position")
        return;
    }
    var object_position = "SRID=4326;POINT ("+ str_pos_array[1] + " " +str_pos_array[0] +")"
    var object_description_input = document.getElementById('object_description_input');

    var object = {};
    object.id = object_id;
    object.position = object_position;
    object.uuid = object_uuid_input.value ;
    object.description = object_description_input.value;

    update_object_request.send(JSON.stringify(object));
}
function add_object(){
    var create_object_request = new XMLHttpRequest();
    var error_pending = false;
    create_object_request.open("POST", 'api/object/', true);
    create_object_request.setRequestHeader('Content-Type', 'application/json');
    create_object_request.setRequestHeader('X-CSRFToken',csrftoken);
    create_object_request.onreadystatechange = function() {
        if (create_object_request.readyState == XMLHttpRequest.DONE) {
            try {
                if(JSON.parse(create_object_request.responseText).id == undefined){
                    pop_up_error(create_object_request.responseText);
                    return;
                }
                var i = 0;
                for(i=0;i<current_index;i++){  
                    var sensor = document.getElementById('sensor_input'+i);
                    var sensor_object = {};
                    sensor_object.sensor_id = sensor.value;
                    sensor_object.object_id = JSON.parse(create_object_request.responseText).id;
                    var create_sensor_object_request = new XMLHttpRequest();
                    create_sensor_object_request.open("POST", 'api/sensor_object/', true);
                    create_sensor_object_request.setRequestHeader('Content-Type', 'application/json');
                    create_sensor_object_request.setRequestHeader('X-CSRFToken',csrftoken);

                    create_sensor_object_request.onreadystatechange = function() {
                        if (create_sensor_object_request.readyState == XMLHttpRequest.DONE) {
                            try {
                                if(JSON.parse(create_sensor_object_request.responseText).id == undefined){
                                    pop_up_error(create_sensor_object_request.responseText);
                                    delete_object(JSON.parse(create_object_request.responseText).id)
                                }
                                pop_up_info("Sensor created, please refresh page");
                            }catch(e){
                                pop_up_error(e.toString());
                                delete_object(JSON.parse(create_object_request.responseText).id)
                            }
                        }
                    }
                    create_sensor_object_request.send(JSON.stringify(sensor_object));
                }
            } catch (e) {
                pop_up_error(e.toString());
            }
        }
    }

    var object_position_input = document.getElementById('object_position_input');
    if(object_position_input == undefined || object_position_input.value == "Select on map"){
        pop_up_error("Fill/select object position")
        return;
    }
    var object_uuid_input = document.getElementById('object_uuid_input');
    if(object_uuid_input == undefined || object_uuid_input.value == undefined){
        pop_up_error("Fill object uuid")
        return;
    }

    var object_description_input = document.getElementById('object_description_input');

    var str_pos_array = object_position_input.value.split(',')
    if(parseFloat(str_pos_array[0]) == NaN || parseFloat(str_pos_array[1] == NaN)){
        pop_up_error("Invalid position")
        return;
    }
    var object_position = "SRID=4326;POINT ("+ str_pos_array[1] + " " +str_pos_array[0] +")"

    var object = {};
    object.position = object_position;
    object.uuid = object_uuid_input.value ;
    object.description = object_description_input.value;
    create_object_request.send(JSON.stringify(object));


}
function remove_sensor(index){
    var element = document.getElementById("line"+index);
    element.parentNode.removeChild(element);
    current_index -=1;
    if((current_index-1) > 0){
        element = document.getElementById('remove-sensor'+(current_index-1));
        element.hidden = false;
    }


}
/*
Fetching sensor
*/
function fillSensor(index){
    fetch('api/sensor/').then(function(resp) { return resp.json(); }).then(function(sensors) {
        if(sensors.detail != undefined){
            pop_up_error(sensors.detail);
            return;
        }
        if(index == 0){
            sensors.forEach(function(sensor){
                if(sensor.name != "tag"){
                    var sel = document.getElementById('sensor_input'+index);
                    var opt = document.createElement('option');
                    opt.appendChild( document.createTextNode('New Option Text') );
                    opt.value = sensor.id; 
                    opt.innerHTML = sensor.name +"("+sensor.unit+")";
                    sel.appendChild(opt); 
                }
            });
        }else{
            var i=0;
            var selectedArray = [];
            for(i=0;i<index;i++){  
                var sel = document.getElementById('sensor_input'+i);
                selectedArray.push(parseInt(sel.value));

            }

            sensors.forEach(function(sensor){
                if(selectedArray.includes(sensor.id) == false){
                    if(sensor.name != "tag"){
                        var sel = document.getElementById('sensor_input'+index);
                        var opt = document.createElement('option');
                        opt.appendChild( document.createTextNode('New Option Text') );
                        opt.value = sensor.id; 
                        opt.innerHTML = sensor.name +"("+sensor.unit+")";
                        sel.appendChild(opt); 
                    }
                }
            });

        }
    })
}






var my_tmp_layer = undefined;

function toWKT (layer) {
    var lng, lat, coords = [];
		if (layer instanceof L.Polygon || layer instanceof L.Polyline) {
			var latlngs = layer.getLatLngs();
		for (var i = 0; i < latlngs.length; i++) {
				var latlngs1 = latlngs[i];
				if (latlngs1.length){
				for (var j = 0; j < latlngs1.length; j++) {
					coords.push(latlngs1[j].lng + " " + latlngs1[j].lat);
					if (j === 0) {
						lng = latlngs1[j].lng;
						lat = latlngs1[j].lat;
					}
				}}
				else
				{
					coords.push(latlngs[i].lng + " " + latlngs[i].lat);
					if (i === 0) {
						lng = latlngs[i].lng;
						lat = latlngs[i].lat;
					}}
		};
			if (layer instanceof L.Polygon) {
				return "POLYGON((" + coords.join(",") + "," + lng + " " + lat + "))";
			} else if (layer instanceof L.Polyline) {
				return "LINESTRING(" + coords.join(",") + ")";
			}
		} else if (layer instanceof L.Marker) {
			return "POINT(" + layer.getLatLng().lng + " " + layer.getLatLng().lat + ")";
		}
};
	
function _fireEventOnMarkerOrVisibleParentCluster(marker, eventName) {
    if(marker != undefined){
        marker.fire(eventName);
    }
}



window.addEventListener("map:init", function (event) {

    map = event.detail.map;
    // Download GeoJSON data with Ajax
    fetch('api/parcel/')
        .then(function(resp) {
        return resp.json();
        })
        .then(function(data) {
            if(data.detail != undefined){
                pop_up_error(data.detail);
                return;
            }
            exploitation = {"type":"FeatureCollection","features":[]};
            data.forEach(function(element){
                var parcel = { type: "Feature", id:element.id, geometry:wellknown.parse(element.geometry),properties:{type:"field",name:element.name}};
                exploitation.features.push(parcel);
            });
            // Display field
            L.geoJSON(exploitation, {
            }).addTo(map);
    });
    
    // Fetch sensor object 
    fetch('api/sensor_object/')
    .then(function(resp) {
    return resp.json();
    })
    .then(function(data) {
        if(data.detail != undefined){
            pop_up_error(data.detail);
            return;
        }
        data.forEach(function(element){
            var marker = markersRef[element.object_id.id]
            if(marker == undefined){
                point = wellknown.parse(element.object_id.position).coordinates
                const cur_icon = L.divIcon({
                    html: '<div><i class="fas fa-thermometer-half fa-2x"></i></div>',
                    iconSize: [40, 40],
                    className: 'myDivIcon'
                });

                markersRef[element.object_id.id] = L.marker(new L.LatLng(point[1],point[0]), {
                    icon:cur_icon,
                    type:"probe",
                    name: element.object_id.id,
                    sensor:[],
                }, {
                    title: element.object_id.id,
                });
                marker = markersRef[element.object_id.id]
            }

            marker.options.sensor.push(element.sensor_id.name);


                
        })
        markersRef.forEach(function(marker){
            //TODO dynamically compose SVG image...
            if(marker.options.sensor.length ==2){
                marker.options.icon.options.html= '<i class="fas fa-thermometer-half fa-2x">'

            }else if(marker.options.sensor.length ==1){
                marker.options.icon.options.html= '<div><i class="fas fa-tag fa-2x"></i></div>'
            }
            marker.on('mouseover', function(e) {
                if (this._icon != null) {
                    this._icon.classList.remove("prop-div-icon");
                    this._icon.classList.add("prop-div-icon-shadow");
                }
            });
            marker.on('mouseout', function(e) {
                if (this._icon != null) {
                    this._icon.classList.remove("prop-div-icon-shadow");
                    this._icon.classList.add("prop-div-icon");
                }

            });

            map.addLayer(marker);
        })
        fill_add_object_form(current_index);
        fetch_sensor_object();
        center_map(map);

    });

    map.on('click', function(e) {
        var object_position_input = document.getElementById('object_position_input');
        object_position_input.value = e.latlng.lat + ", " + e.latlng.lng;
    });
    
});

</script>