<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Inside object</title>
    </head>
<body>
    <h1>Inside object</h1>
    {% if objects %}
    <ul>
    {% for object in objects %}
        <li>
        {{ object.id }}: {{object.parcel_id}}
        </li>
    {% endfor %}
    </ul>
    {% endif %}
</body>
</html>
