{# agribiot/operations.html #}

{% block header %}
    {% include 'header.html'  with page="operation_table"%}
{% endblock header %}



<div class="row">
    <div class="col-12 ">
        <div class="card border-light shadow-sm">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                    <h2 class="h5"> List of operations</h2>
                    </div>
{{ datatable }}
                </div>
            </div>
        </div>
    </div>
</div>



{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}
