{# agribiot/operations.html #}
{% load render_table from django_tables2 %}
{% load django_tables2 %}

{% block header %}
    {% include 'header.html' with page="operations_list" %}
{% endblock header %}


<div class="row">
    <div class="col-12 mb-4">
        <div class="card border-light shadow-sm components-section">
            <div class="card-body">     
                <div class="row mb-4">
                        <div class="col-lg-4 col-sm-6">
                        
                            <label for="id_type">Type :</label>
                            <select class="form-select" name="type" id="id_type">
                                <option value="" selected="">Choisisez un type</option>
                            </select>
                            
                            <label for="id_tag_uuid">tag description (uuid) :</label>
                            <select class="form-select"  name="tag_uuid" id="id_tag_uuid" multiple>

                            </select>


                            
                        </div>
                        <div class="col-lg-4 col-sm-6" >
                            <label for="id_created_range_0">Date de création :</label>
                            <br>
                            <input type="text" name="created_range_min" placeholder="jour/mois/année" id="id_created_range_0" autocomplete="off"><br>
                            -<br><input type="text" name="created_range_max" placeholder="jour/mois/année" id="id_created_range_1" autocomplete="off">
                            <br>
                            <input type="submit" onclick="refreshTable()"/>


                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <br>
                            <p class="mb-0"> Filtrer les opérations effectuées selon le type d'observations ou de tâches </p>  
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>


      <!--<h1 class="h4">Type d'operation : 
            <label class="my-1 mr-2" for="annotation_template_select">
            <select class="form-select" id="annotation_template_select" aria-label="Default select example" onchange="onAnnotationTemplateSelect()">
                <option selected="">Tâche/Observation</option>
            </select>
            </label></h1>-->


<div class="row">
    <div class="col-12 ">
        <div class="card border-light shadow-sm">


            <div class="table-responsive py-4">
                <table class="table table-flush" id="operation-table">

                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <img id="modal-photo" src="">
        </div>
    </div>
</div>

{% block footer %}
    {% include 'footer.html' with page="operations_list"%}
{% endblock footer %}

<script>
var annotationTemplateSelect = document.getElementById("id_type");
var uuidSelect = document.getElementById("id_tag_uuid");
var dateStart = document.getElementById("id_created_range_0");
var dateEnd = document.getElementById("id_created_range_1");
var sensorObjectSelect = document.getElementById("id_tag_uuid");
var operationTable = document.getElementById("operation-table");
var dataSet = [];
var columns = [];
var cur_datatable = undefined;

agInstance = new AgribiotInstance("local","local",undefined,undefined);

var sensorObjects = [];
var annotationTemplates = [];
var operations = [];
var dimensions = [];
var dimensionValues = [];


function refreshTable(){
    operations = [];
    dimensions = [];
    dimensionValues = [];
    dataSet = [];
    columns = [];


    var checked = document.querySelectorAll('#id_tag_uuid :checked');
    var uuid_selected = [...checked].map(option => option.value);

    if(annotationTemplateSelect.value == ""){
        agInstance.getDimensions(onDimensionFetch)
    }else{
        agInstance.getDimensionByAnnotationTemplate(annotationTemplateSelect.value,onDimensionFetch);
    }
}

function onDimensionFetch(dimensionsFetch){
    dimensions = dimensionsFetch;

    var checked = document.querySelectorAll('#id_tag_uuid :checked');
    var uuid_selected = [...checked].map(option => option.value);
    const data = {};


    if(annotationTemplateSelect.value == ""){
        agInstance.getDimensionValues(onDimensionValuesFetch)
    }else {
        agInstance.getDimensionValueByAnnotationTemplate(annotationTemplateSelect.value,onDimensionValuesFetch)
    }
    if(annotationTemplateSelect.value != ""){
        data.annotation_template_id= annotationTemplateSelect.value
    }
    if(uuid_selected.length > 0){
        data.sensor_object_id = uuid_selected
    }
    if(dateStart.value != ""){
        const myMomentObject = moment(dateStart.value, 'DD-MM-YYYY')
        data.created_range_min=myMomentObject.format('YYYY-MM-DD');
    }
    if(dateEnd.value != ""){
        const myMomentObject = moment(dateEnd.value, 'DD-MM-YYYY')
        data.created_range_max=myMomentObject.format('YYYY-MM-DD');
    }
    const querystring = encodeQueryData(data);



    columns.push(  {"title": "Created","type": 'date-euro'
/*
                    'createdCell':  function (td, cellData, rowData, row, col) {
                                        $(td).attr('data-sort', moment(cellData,'LLL').format('MM-DD-YYYY')); 
                                    },
                     "render": function(data, type) {
                                    console.log(data);
                                    return type === 'sort' ? data : moment(data).format('MM-DD-YYYY');
                                }*/
        });
    columns.push({title:"UUID"});
    columns.push({title:"Description"});
    columns.push({title:"Image"});

    dimensions.forEach(function(dimension){
        columns.push({title:dimension.name + "("+dimension.unit+")"})
    })
    columns.push({title:"Supprimer"})

    agInstance.getOperationFiltered(querystring,onOperationsFetch);

}

function onDimensionValuesFetch(dimensionValuesFetch){
    dimensionValues = dimensionValuesFetch;
}


function displayModal(photoPath){
    document.getElementById("modal-photo").src = "" 
    document.getElementById("modal-photo").src = photoPath ;
}

function onOperationsFetch(operationsFetch){
    operations = operationsFetch;
    operations.forEach(function(operation){
        row = [];
        myMoment = new moment(operation.created)
        row.push(myMoment.format('L')+ " " +myMoment.format('LTS'));
        //console.log(operation);
        curSensorObject = getSensorObject(operation.sensor_object_id);
        row.push(curSensorObject.object_id.description + "(" +curSensorObject.object_id.uuid+")");
        curAnnotTemplate = getAnnotationTemplate(operation.annotation_template_id);

        if(curAnnotTemplate == undefined){
            pop_up_error("unknown annotation template")
        }else{
            row.push(curAnnotTemplate.description);
        }
        if(operation.images.length>0){
            row.push("<img onclick=\"displayModal()\" data-toggle=\"modal\" data-target=\"#modal-default\" id=\"image_thumb_" + operation.images[0]+ "\" >");
            agInstance.getOperationImage(operation.images[0],function(data){
                photo_path = data.photo;
                photo_path = photo_path.replace(".","-50.");
                $("#image_thumb_"+operation.images[0]).attr("src", photo_path);
                $("#image_thumb_"+operation.images[0]).attr("onclick", "displayModal(\"" +data.photo +"\")");
            })
        }else{
            row.push("");
        }

        if(dimensions.length > 0){
            curDimensionValues = getDimensionValuesForOperations(operation.dimensionvalue_set);
            curDimensionValues.forEach(function(dimensionValue){
                if(dimensionValue == undefined){
                    row.push("");
                }else{
                    row.push(dimensionValue.value);
                }
            })
        }
        row.push("<a class=\"row-delete\" value=\""+operation.id+"\"><i class=\"fas fa-times\"></i></a>")

        dataSet.push(row);
    })
    if(cur_datatable != undefined){
        $('#operation-table').DataTable().destroy();
        $('#operation-table').empty();
         // Delete a record

    }

    cur_datatable = $('#operation-table').DataTable( {
            dom: 'Blfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf'
            ],
            data: dataSet,
            columns: columns,
            pageLength: 25,
    });

    cur_datatable.on('click', 'tr td a.row-delete', function (e) {
            delete_operation($(this).attr("value"))
            curTr = $(this).parents('tr');
            curTr.remove();
    } );
}
function delete_operation(operation_id){
    agInstance.deleteOperation(operation_id,function(){

    })

}


agInstance.getAnnotationTemplate(function(data){
    annotationTemplates = data;
    annotationTemplates.forEach(function(annotationTemplate){
        var option = document.createElement("option");
        option.value = annotationTemplate.id;
        option.text = annotationTemplate.description;
        annotationTemplateSelect.add(option,null);
    })
    refreshTable();
})
agInstance.getSensorObjects(function(data){
    sensorObjects = data;
    sensorObjects.forEach(function(sensorObject){
        var option = document.createElement("option");
        option.value = sensorObject.id;
        option.text = sensorObject.object_id.description+"("+sensorObject.object_id.uuid+")";
        sensorObjectSelect.add(option,null);
    })
})

var dateFormat = "dd-mm-yy",
from = $( "#id_created_range_0" )
    .datepicker({
        dateFormat: dateFormat,
        changeMonth: true,
        numberOfMonths: 2
    })
    .on( "change", function() {
        to.datepicker( "option", "minDate", getDate( this ) );
    }),
    to = $( "#id_created_range_1" ).datepicker({
        dateFormat: dateFormat,
        changeMonth: true,
        numberOfMonths: 2
    })
    .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
    });

function getDate( element ) {
    var date;
    try {
        date = $.datepicker.parseDate( dateFormat, element.value );
    } catch( error ) {
        date = null;
    }
    return date;
}

function getSensorObject(id){
    curSensor = undefined;
    sensorObjects.forEach(function(sensorObject){
        if(sensorObject.id == id){
            curSensor = sensorObject;
        }
    })
    return curSensor;
}
function getAnnotationTemplate(id){
    curAnnot = undefined;
    annotationTemplates.forEach(function(annotationTemplate){
        if(annotationTemplate.id == id){
            curAnnot = annotationTemplate;
        }
    })
    return curAnnot;
}

function getDimensionValuesForOperations(ids){
    currentDimensionValues = [];
    orderedDimensionValues = [];

    ids.forEach(function(dimensionValueId){
        cur = undefined;
        dimensionValues.forEach(function(dimensionValue){
            if(dimensionValue.id == dimensionValueId){
                cur = dimensionValue;
            }
        })
        currentDimensionValues.push(cur);
    })
    dimensions.forEach(function(dimension){
        cur = undefined;
        currentDimensionValues.forEach(function(dimensionValue){
            if(dimension.id == dimensionValue.dimension_id){
                cur = dimensionValue;
            }
        })
        orderedDimensionValues.push(cur);
    })

    return orderedDimensionValues;
}

function encodeQueryData(data) {
   const ret = [];
   for (let d in data){
     if(data[d] instanceof Array){
        data[d].forEach(element => ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(element)));
     }else{
        ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(data[d]));
     }
   }
   return ret.join('&');
}

</script>

