            <div class="col temp-chart"><h5 class="temp-title">Object</h5>
            
            <ul>
            {% for object in object_list %}
                <li>{{ object.id }}</li>
            {% empty %}
                <li>No articles yet.</li>
            {% endfor %}
            </ul>
            
            </div>

